{% extends 'police/base.html' %} {% block extrastyle %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" />
    <style>
        .dropzone {
            border: 2px dashed #0087F7;
            border-radius: 5px;
            background: white;
            cursor: pointer;
        }
        .dz-preview.dz-error .dz-error-mark {
        border: none; /* Supprime l'élément contenant la bordure rouge */
        }
        .dz-preview.dz-success .dz-success-mark {
        border: none; /* Supprime l'élément contenant la bordure rouge */
        }
    </style>

{% endblock %} {% block content %}
{% load i18n static jazzmin admin_urls %}
{% load my_filters %}
<div class="col-12 col-md-12 order-2 order-md-1">{% include 'police/header.html' %}
	<div class="col-sm-12">
	  <p>{{_('Seules_les_photos_manquantes_sont_listees_pour_modifier_une_photo_existante_rendez_vous_sur_la_fiche_du_beneficiaire')}}</p>
	</div>
    <div class="card">
    <div class="card-header">
        <h3 class="card-title text-white">{{_('IMPORT_DES_PHOTOS_MANQUANTES')}}</h3>
        <div class="card-tools">
        
        </div>
    </div>
    <div class="card-body" style="background:bisque;">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
              {% for beneficiaire in beneficiaires %}
                  <div class="col-12 col-md-3 col-sm-6 my-2" style="cursor:pointer;">
                      <div class="file-upload rounded" style="background-color: #ffff;  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                        <div class="info-box-content pt-3 pb-3 text-center">
                          <span style="font-weight: bold;">{{ beneficiaire.nom|default_if_none:'' }} {{ beneficiaire.prenoms|default_if_none:'' }}</span><br/>
                            <span>N° carte: <b>{{ beneficiaire.carte_active }}</b> | {{_('Numero_de_la_famille')}}: <b>{{ beneficiaire.adherent_principal.numero_famille|default_if_none:'' }}</b></span><br/>
                          <span>Lien: <b>{{ beneficiaire.qualite_beneficiaire.code }}</b> | {{_('Age')}}: <b>{{ beneficiaire.age }} {{_('ans')}}</b></span>
                        </div>
                        <div class="info-box-content text-center p-2">

                        <form action="{% url 'upload_photo' beneficiaire.id %}" class="dropzone" id="my_dropzone-{{ beneficiaire.id }}">
                            {% csrf_token %}
                            <div class="dz-message" data-dz-message>
                              <div>
                                <img style="width:100px;border-radius:5px;border:3px solid #dee2e6;" class="default-image" id="photo{{ beneficiaire.id }}" src="{% static 'admin_custom/user.png' %}">
                              </div>
                              <div>
                                <span>{{_('Selectionner_une_photo')}}</span>
                              </div>
                            </div>
                            <input type="hidden" name="aliment_id" value="{{ beneficiaire.id }}">

                        </form>

                        </div>

                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block extrajs %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
    <script>
            Dropzone.autoDiscover = false;

              document.addEventListener("DOMContentLoaded", function() {
                  var dropzones = document.querySelectorAll('.dropzone');
                  

                  dropzones.forEach(function(dropzoneElement) {
                      var dropzone = new Dropzone(dropzoneElement, {
                          maxFilesize: 5, // MB
                          acceptedFiles: 'image/*',
                          uploadMultiple: false,
                          init: function() {
                            
                            this.on("addedfile", function(file) {
                                    if (this.files.length > 1) {
                                        this.removeFile(this.files[0]);
                                    }
                                  });
                              this.on("success", function(file, response) {
                                  // Traiter la réponse du serveur
                                  // if (response.success) {
                                  //     var beneficiaireId = dropzoneElement.id.split("-")[1];
                                  //     var imageElement = document.getElementById('photo' + beneficiaireId);
                                  //     imageElement.src = URL.createObjectURL(file);
                                  //     // Révoquer l'URL pour éviter les fuites de mémoire
                                  //     URL.revokeObjectURL(imageElement.src);

                                  //     //

                                  // }
                              });
                          }
                      });
                  });
              });

    </script>

{% endblock %}

<style type="text/css">
<!--
.title{
	padding:0px 15px;
}

.dz-preview, .dz-file-preview {
    display: none;
}
#table_justifs{
    border: 1px solid #eee;
	margin-top:0px;
}
#table_justifs th{
    background:#eee;
}

.select-checkbox option::before {
  content: "\2610";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}

.select-checkbox option:checked::before {
  content: "\2611";
}

ul.no_liste_item li {
  list-style:none;
}

.bold{font-weight:bold;}

-->
</style>