{% extends 'police/base.html' %} {% block extrastyle %} {% endblock %} {% block content %}
{% load my_filters %}
{% load static %}
<div class="col-12 col-md-12 order-2 order-md-1">
  {% include 'police/header.html' %}

  <div class="card mt-0 pt-0" style="background: bisque;display:none;">
    <div class="card-body">
    </div>
  </div>

  <div class="card">
    <div class="card-header">
        <h3 class="card-title text-white">{{_('BENEFICIAIRES')}}</h3>
        <div class="card-tools">
          {% if police.etat_police == "En cours" or police.etat_police == "En attente" %}
          <!--a href="#" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal_importation_beneficiaires" ><i class="fas fa-forward"></i> Import bénéf d'une ancienne police</a-->
          <a href="#" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal-import_beneficiaires"><i class="fas fa-cloud-upload-alt"></i> {{_('Importation')}}</a>
          <a class="btn btn-sm btn-default" id="btn_add_beneficiaire" data-href="{% url 'add_beneficiaire' police.id %}"><i class="fas fa-plus"></i> {{_('Nouveau_beneficiaire')}} </a>
          <a class="btn btn-sm btn-default" id="loader-btn_add_beneficiaire" style="width: 40px; display: none;"><img src="{% static 'admin_custom/img/loader.gif' %}"
                                 style="width: 20px;"/></a>
          <!--{% if police.produit.code == 'AUTO' %}<a class="btn btn-sm btn-default" data-toggle="modal"  data-target="#modal-vehicule"><i class="fas fa-plus"></i> Nouveau véhicule</a>{% endif %}-->
          <!--a href="#" class="btn btn-sm btn-default"><i class="fas fa-exclamation-circle"></i> Vérification des bénéficiaires</a-->
          <a class="btn btn-sm btn-default" href="{% url 'photos_beneficiaires' police.id %}" ><i class="fas fa-image"></i> {{_('Charger_les_photos')}}</a>
          <!--a class="btn btn-sm btn-default" href="{% url 'prime_famille' police.id %}" ><i class="fas fa-users"></i> Prime par famille</a-->
          <a href="#" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal-edition_cartes"><i class="fas fa-id-card"></i> {{_('Edition_des_cartes')}}</a>
          {% endif %}
          {% if option_export_beneficiaires %}
          <button id="export_beneficiaires" class="btn btn-sm btn-default"><i class="fa fa-file-o"></i> {{_('Exporter_vers_Excel')}}</button>
          <a class="btn btn-sm btn-default" id="loader-btn_export_beneficiaires" style="width: 40px; display: none;">
              <img src="{% static 'admin_custom/img/loader.gif' %}" style="width: 20px;"/>
          </a>
      {% endif %}
        </div>
    </div>
    <div class="card-body" style="background:bisque;">
      <div class="row">
          <input type="hidden" id="search_etat" value="">

          {% if police.etat_police == 'Résilié' or police.is_echue %}
          <div class="col-12 col-sm-4 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="" style="cursor:pointer">
            <a>
              <div class="info-box">
                  <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-users"></i></span></span>
                  <div class="info-box-content">
                    <span class="info-box-text">TOUS</span>
                  </div>
                  <h1><span class="badge" style="background: bisque;margin-top:10px;">{{ police.nombre_total_beneficiaires|money_field }}</span></h1>
              </div>
            </a>
          </div>

          <div class="col-12 col-sm-4 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="LISTE_VIDE" style="">
              <a>
                <div class="info-box">
                    <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-toggle-on"></i></span></span>
                    <div class="info-box-content">
                      <span class="info-box-text">ACTIFS</span>
                    </div>
                    <h1><span class="badge" style="background: bisque;margin-top:10px;">0</span></h1>
                </div>
              </a>
          </div>

          <div class="col-12  col-sm-6 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="LISTE_VIDE" style="">
            <a>
              <div class="info-box">
                  <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-pause"></i></span></span>
                  <div class="info-box-content">
                    <span class="info-box-text">SUSPENDUS</span>
                  </div>
                  <h1><span class="badge" style="background: bisque;margin-top:10px;">0</span></h1>
                </div>
            </a>
          </div>

          <div class="col-12 col-sm-4 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="" style="cursor:pointer">
              <a>
                <div class="info-box">
                    <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-door-open"></i
                    ></span>
                    <div class="info-box-content">
                      <span class="info-box-text">SORTIS</span>
                    </div>
                    <h1><span class="badge" style="background: bisque;margin-top:10px;">{{ police.nombre_total_beneficiaires|money_field }}</span></h1>
                </div>
              </a>
          </div>

          {% elif police.etat_police == 'Suspendu' %}
          <div class="col-12 col-sm-4 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="" style="cursor:pointer">
            <a>
              <div class="info-box">
                  <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-users"></i></span></span>
                  <div class="info-box-content">
                    <span class="info-box-text">TOUS</span>
                  </div>
                  <h1><span class="badge" style="background: bisque;margin-top:10px;">{{ police.nombre_total_beneficiaires|money_field }}</span></h1>
              </div>
            </a>
          </div>

          <div class="col-12 col-sm-4 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="LISTE_VIDE" style="">
              <a>
                <div class="info-box">
                    <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-toggle-on"></i></span></span>
                    <div class="info-box-content">
                      <span class="info-box-text">ACTIFS</span>
                    </div>
                    <h1><span class="badge" style="background: bisque;margin-top:10px;">0</span></h1>
                </div>
              </a>
          </div>

          <div class="col-12  col-sm-6 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="" style="cursor:pointer">
            <a>
              <div class="info-box">
                  <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-pause"></i></span></span>
                  <div class="info-box-content">
                    <span class="info-box-text">SUSPENDUS</span>
                  </div>
                  <h1><span class="badge" style="background: bisque;margin-top:10px;">{{ police.nombre_total_beneficiaires|money_field }}</span></h1>
                </div>
            </a>
          </div>

          <div class="col-12 col-sm-4 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="" style="">
              <a>
                <div class="info-box">
                    <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-door-open"></i
                    ></span>
                    <div class="info-box-content">
                      <span class="info-box-text">SORTIS</span>
                    </div>
                    <h1><span class="badge" style="background: bisque;margin-top:10px;">0</span></h1>
                </div>
              </a>
          </div>

          {% else %}
          <div class="col-12 col-sm-4 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="" style="cursor:pointer">
            <a>
              <div class="info-box">
                  <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-users"></i></span></span>
                  <div class="info-box-content">
                    <span class="info-box-text">{{_('TOUS')}}</span>
                  </div>
                  <h1><span class="badge" style="background: bisque;margin-top:10px;">{{ police.nombre_total_beneficiaires|money_field }}</span></h1>
              </div>
            </a>
          </div>

          <div class="col-12 col-sm-4 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="ACTIF" style="cursor:pointer">
              <a>
                <div class="info-box">
                    <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-toggle-on"></i></span></span>
                    <div class="info-box-content">
                      <span class="info-box-text">{{_('ACTIFS')}}</span>
                    </div>
                    <h1><span class="badge" style="background: bisque;margin-top:10px;">{{ police.nombre_beneficiaires_entres|money_field }}</span></h1>
                </div>
              </a>
          </div>

          <div class="col-12  col-sm-6 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="SUSPENDU" style="cursor:pointer">
            <a>
              <div class="info-box">
                  <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-pause"></i></span></span>
                  <div class="info-box-content">
                    <span class="info-box-text">{{_('SUSPENDUS')}}</span>
                  </div>
                  <h1><span class="badge" style="background: bisque;margin-top:10px;">{{ police.nombre_beneficiaires_suspendus|money_field }}</span></h1>
                </div>
            </a>
          </div>

          <div class="col-12 col-sm-4 col-md-3 btn_filter_beneficiaire_by_etat" data-beneficiaire_etat="SORTI" style="cursor:pointer">
              <a>
                <div class="info-box">
                    <span class="info-box-icon elevation-1 o-bg-primary"><i class="fas fa-door-open"></i
                    ></span>
                    <div class="info-box-content">
                      <span class="info-box-text">{{_('SORTIS')}}</span>
                    </div>
                    <h1><span class="badge" style="background: bisque;margin-top:10px;">{{ police.nombre_beneficiaires_sortis|money_field }}</span></h1>
                </div>
              </a>
          </div>
          {% endif %}

        </div>
    </div>

    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

        <div class="row">
          <div class="col-12 col-md-12 col-sm-12 table-responsive">
            <table class="table table-bordered table-striped customDataTable dtr-inline" id="datatable_beneficiaires" style="wight:100%">
              <thead>
                <tr>
                  <!--th scope="col">Nº bénéf</th-->
                  <th scope="col">{{_('Numero_carte')}}</th>
                  <th scope="col">{{_('Nom')}}</th>
                  <th scope="col">{{_('Prenoms')}}</th>
                  <th scope="col">{{_('Date_de_naissance')}}</th>
                  <th scope="col">{{_('Sexe')}}</th>
                  <th scope="col">{{_('Qualite')}}</th>
                  <th scope="col">{{_('Matricule')}}</th>
                  <th scope="col">{{_('Numero_de_la_Famille')}}</th>
                  <th scope="col">{{_('Formule')}}</th>
                  <th scope="col">{{_('Etat')}}</th>
                  <th scope="col">{{_('Actions')}}</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if aliment_id %}
<span style="display:none" id="current_aliment_id" class="btn_details_beneficiaire" data-aliment_id="{{aliment_id}}" data-model_name="aliment" data-modal_title="FICHE ADHERENT" data-href="/production/police/{{police.id}}/details_beneficiaire/{{aliment_id}}"><span class="badge btn-sm btn-details rounded-pill"><i class="fa fa-eye"></i> Détails CURRENT BENEF</span></span>
{% endif %}

{% endblock %} {% block extrajs %}
<script>
  $(document).ready(function() {

      $('#beneficiaire').removeClass('o-bg-primary');
      $('#beneficiaire').addClass('o-active');

      //let myt = $('#datatable_beneficiaires').DataTable();

      dataTable = $('#datatable_beneficiaires').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'police_beneficiaires_datatable' police.id %}",
                "data": function (data) {
                    console.log(data);
                    data.page = data.start / data.length + 1;
                    data.search_etat = $('#search_etat').val();
                },
                "dataSrc": function (json) {
                    return json.data;
                }
            },
            "columns": [
                {"data": "aliment__cartes__numero", "orderable": false},
                {"data": "aliment__nom", "orderable": false},
                {"data": "aliment__prenoms", "orderable": false},
                {"data": "aliment__date_naissance", "orderable": false},
                {"data": "aliment__genre", "orderable": false},
                {"data": "aliment__qualite_beneficiaire__libelle", "orderable": false},
                {"data": "aliment__matricule_employe", "orderable": false},
                {"data": "aliment__adherent_principal__numero_famille", "orderable": false},
                {"data": "aliment__formule__libelle", "orderable": false},
                {"data": "aliment__statut", "orderable": false},
                {"data": "actions", "orderable": false, "searchable": false},
            ],
            "paging": true,
            "pageLength": 10,
            "processing": true,  // Show the loading indicator
            "searching": true,   // Enable the search feature
        });


        dataTable.on('xhr.dt', function (e, settings, json, xhr) {
            // Hide the spinner when the data is loaded
            $('.spinner-border').hide();

            $('#current_aliment_id').click();
            $('#current_aliment_id').removeAttr('id');
        });



        // Show the spinner when the table is processing
        dataTable.on('processing.dt', function (e, settings, processing) {
            if (processing) {
                $('.spinner-border').show();
            }
        });

        // dataTable.search('').draw();
        // dataTable.draw();

        $('.btn_filter_beneficiaire_by_etat').on('click', function() {
            let beneficiaire_etat = $(this).data('beneficiaire_etat');
            $('#search_etat').val(beneficiaire_etat);
        });

        // Add custom search functionality for code, name, and prenoms columns
        $('#numero_carte, #formule, .btn_filter_beneficiaire_by_etat').on('keyup change click', function() {
            dataTable.search('').draw(); // Clear existing search
            dataTable.draw(); // Trigger a new draw, which will include the updated search parameters
        });

        {% if police.etat_police == "En cours" or police.etat_police == "En attente" %}
          $('.btn_modifier_beneficiaire').show();
        {% else %}
          $('.btn_modifier_beneficiaire').hide();
        {% endif %}

  });
</script>

<script>
  $(document).on('click', '#export_beneficiaires', function () {
    // Show the loader
    $('#export_beneficiaires').hide();
    $('#loader-btn_export_beneficiaires').show();
    
    $.ajax({
        url: "{% url 'export_beneficiaires' police.id %}",
        type: 'GET',
        xhrFields: {
            responseType: 'blob'
        },
        success: function (data, status, xhr) {
            var filename = "";
            var disposition = xhr.getResponseHeader('Content-Disposition');
            if (disposition && disposition.indexOf('attachment') !== -1) {
                var matches = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/.exec(disposition);
                if (matches != null && matches[1]) {
                    filename = matches[1].replace(/['"]/g, '');
                }
            }
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(data);
            link.download = filename;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);

            // Hide the loader and show the button again
            $('#loader-btn_export_beneficiaires').hide();
            $('#export_beneficiaires').show();
        },
        error: function (xhr, status, error) {
            alert('An error occurred while exporting the file');
            // Hide the loader and show the button again
            $('#loader-btn_export_beneficiaires').hide();
            $('#export_beneficiaires').show();
        }
    });
});

</script>

{% if prospect_to_open %}
<script>
$(document).ready(function() {
    dataTable.on('draw', function () {
        // alert($('span.btn_details_beneficiaire[data-aliment_id="{{ prospect_to_open }}"]'));
        // console.log($('span.btn_details_beneficiaire[data-aliment_id="{{ prospect_to_open }}"]').data("aliment_id"));
        $('.btn_details_beneficiaire[data-aliment_id="{{ prospect_to_open }}"]').trigger("click");
        // $('#cartes-tab').trigger("click");
    });
});
</script>
{% endif %}


{% endblock %}