{% extends 'police/base.html' %} {% block extrastyle %} {% endblock %} {% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">{% include 'police/header.html' %}

  <div class="card">
    <div class="card-header">
        <h3 class="card-title text-white">BÉNÉFICIAIRES</h3>
        <div class="card-tools">
          <a href="#" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal-import_beneficiaires"><i class="fas fa-cloud-upload-alt"></i> Importation</a>
          <!--a class="btn btn-sm btn-default btn_open_on_modal" data-model_name="aliment" data-href="{% url 'add_beneficiaire' police.id %}" data-modal_title="Ajouter un bénéficiaire" ><i class="fas fa-plus"></i> Nouveau bénéficiaire</a-->
          <a class="btn btn-sm btn-default" data-toggle="modal"  data-target="#modal-beneficiaire"><i class="fas fa-plus"></i> Nouveau bénéficiaire</a>
          {% if police.produit.code == 'AUTO' %}<a class="btn btn-sm btn-default" data-toggle="modal"  data-target="#modal-vehicule"><i class="fas fa-plus"></i> Nouveau véhicule</a>{% endif %}
          <a href="#" class="btn btn-sm btn-default"><i class="fas fa-exclamation-circle"></i> Vérification des bénéficiaires</a>
          <a class="btn btn-sm btn-default" href="{% url 'benefs_pictures' police.id %}" ><i class="fas fa-image"></i> Charger les photos</a>
          <a class="btn btn-sm btn-default" href="{% url 'prime_famille' police.id %}" ><i class="fas fa-users"></i> Prime par famille</a>
          <a href="#" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal-edition_cartes"><i class="fas fa-id-card"></i> Edition des cartes</a>
        </div>
    </div>
    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12 table-responsive">
            <table class="table table-bordered table-striped dataTable dtr-inline" id="table_beneficiaires">
              <thead>
                <tr>
                  <!--th scope="col">Nº bénéf</th-->
                  <th scope="col">N° carte</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénoms</th>
                  <th scope="col">Date Naiss</th>
                  <th scope="col">Sexe</th>
                  <th scope="col">Qualité</th>
                  <th scope="col">Matricule</th>
                  <th scope="col">Nº Famille</th>
                  <th scope="col">Formule</th>
                  <!--th scope="col">Etat</th-->
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
              {% for beneficiaire in aliments %}
                <tr>
                  <!--td>{{ beneficiaire.numero|default_if_none:"" }}</td-->
                  <td>{{ beneficiaire.carte_active|default_if_none:"" }}</td>
                  <td>{{ beneficiaire.nom|default_if_none:"" }}</td>
                  <td>{{ beneficiaire.prenoms|default_if_none:"" }}</td>
                  <td>{{ beneficiaire.date_naissance|date:'d-m-Y'|default_if_none:"" }}</td>
                  <td>{{ beneficiaire.genre|default_if_none:"" }}</td>
                  <td>{{ beneficiaire.qualite_beneficiaire|default_if_none:"" }}</td>
                  <td>{{ beneficiaire.matricule_cie|default_if_none:"" }}</td>
                  <td>{{ beneficiaire.adherent_principal.numero_famille|default_if_none:"" }}</td>
                  <td>{{ beneficiaire.formule|default_if_none:"" }}</td>
                  <!--td>{{ beneficiaire.statut|default_if_none:"" }}</td-->
                  <td>
                    <span style="cursor:pointer;" class="btn_details_beneficiaire" data-aliment_id="{{ aliment.id }}" data-model_name="aliment" data-modal_title="FICHE ADHERENT - {{ beneficiaire.nom }} {{ beneficiaire.prenoms }}" data-href="{% url 'details_beneficiaire' police.id beneficiaire.id %}"><span class="badge btn-sm btn-details rounded-pill"><i class="fa fa-eye"></i> Détails</span></span>&nbsp;&nbsp;
                    <span style="cursor:pointer;" class="btn_modifier_beneficiaire" data-aliment_id="{{ aliment.id }}" data-model_name="aliment" data-modal_title="MODIFICATION D'UN BENEFICIAIRE" data-href="{% url 'update_beneficiaire' police.id beneficiaire.id %}"><span class="badge btn-sm btn-modifier rounded-pill"><i class="fa fa-edit"></i> Modifier</span></span>&nbsp;&nbsp;
                    <!--span style="cursor:pointer;" class="btn_supprimer_beneficiaire" data-aliment_id="{{ aliment.id }}" data-model_name="aliment" data-modal_title="SUPPRESSION D'UN BENEFICIAIRE" data-href="#"><i class="fas fa-times text-danger"></i></span-->
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block extrajs %}
<script>
  $(document).ready(function() {
      $('#beneficiaire').removeClass('o-bg-primary');
      $('#beneficiaire').addClass('o-active');
  });
</script>{% endblock %}