{% extends 'police/base_universelle.html' %}
{% load my_filters %}
{% block extrastyle %}
{% endblock %}
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">


<div class="row">
   <div class="col-12 col-md-6 col-md-12">
      <h4></h4>
      <div class="card shadow_">
         <div class="card-header">
            <h3 class="card-title text-white"><a href="{% url 'formules_universelles' %}" class="badge btn-sm btn-default btn-retour" style="color:black;font-weight:normal;"><i class="fas fa-arrow-left"></i> {{_('Retour')}}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{_('PARAMETRAGE_DU_BAREME')}}: <b>{{ bareme.libelle|default_if_none:"" }}</b> </h3>
            {% comment %} <div class="card-tools">CLIENT : <b><a href="{% url 'client_details' client.id %}" style="color:white;">{{ client.nom }}</a></b> {% endcomment %}
            </div>
         </div>
         <div class="card-body">
            <h5></h5>
            <div class="row">
               <div class="col-sm-3 invoice-col">
                  <strong>{{_('Libelle')}}</strong><br />
                  <span class="">{{ formule.libelle|default_if_none:"" }} ({{ formule.code|default_if_none:"" }})</span>
               </div>
               <div class="col-sm-3 invoice-col">
                  <strong>{{_('Territorialite')}}</strong><br />
                  <span class="">{{ formule.territorialite|default_if_none:"" }}</span>
               </div>
               <div class="col-sm-3 invoice-col">
                  <strong>{{_('Type_tarif')}}</strong><br />
                  <span class="">{{ formule.type_tarif|default_if_none:"" }}</span>
               </div>
               <div class="col-sm-3 invoice-col text-left">
                  <b>{{_('Couverture')}}</b><br />
                  <span class="badge badge-success">{{ formule.taux_couverture|default_if_none:"" }} %</span>
               </div>
            </div>
            <div class="row mt-2">
               <div class="col-sm-3 invoice-col">
                  <strong>{{_('Plafond_famille')}}</strong><br />
                  <span class="">{{ formule.plafond_conso_famille|money_field|default_if_none:"0" }}</span>
               </div>
               <div class="col-sm-3 invoice-col">
                  <strong>{{_('Plafond_individuel')}}</strong><br />
                  <span class="">{{ formule.plafond_conso_individuelle|money_field|default_if_none:"0" }}</span>
               </div>
               <!--div class="col-sm-3 invoice-col">
                  <b>Date début</b><br />
                  <span class="">{{ formule.date_debut|date:"d/m/Y" }}</span>
               </div-->
               <div class="col-sm-3 invoice-col">
                  <b>{{_('Reseau_de_soins')}}</b><br />
                  <span class="">{{ formule.reseau_soin|default_if_none:"" }}</span>
               </div>
               {% if formule.police %}
               <!--div class="col-sm-3 invoice-col text-left">
                 <b>Référence police</b><br />
                 <span class=""><a href="{% url 'police.details' police.id %}">{{ police.numero }}</a></span>
               </div-->
               {% endif %}
               <div class="col-sm-3 invoice-col text-left">
                 <b>{{_('Pharmacie')}}/{{_('vaccins')}}/{{_('vitamines')}}</b><br />
                 <span class="">{{ formule.garantis_pharmacie|default_if_none:"" }}</span>
               </div>
            </div>
            {% if formule.mode_prefinancement %}
            <div class="row mt-2">
               <div class="col-sm-3 invoice-col">
                  <strong>{{_("Mode de préfinancement")}}</strong><br />
                  <span class="">{{ formule.mode_prefinancement.libelle|default_if_none:"" }}</span>
               </div>
            </div>
            {% endif %}
         </div>
      </div>

      <div class="card">
         <div class="card-header">
            <h3 class="card-title text-white">{{_('SPECIFICITES_DU_BAREME')}}</h3>
            <div class="card-tools">
               <a class="btn btn-sm btn-default btn-complement-rouge" data-toggle="modal"  data-target="#modal-bareme"><i class="fas fa-plus"></i> {{_('Ajouter_un_acte')}}</a>
            </div>
         </div>
         <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
               <div class="row">
                  <div class="col-12 col-md-12 col-sm-12">
                     <div class="table-responsive">
                     <table class="table table-bordered table-striped dataTable dtr-inline" id="table_baremes">
                        <thead>
                           <tr>
                              <th scope="col">{{_('Rubrique')}}</th>
                              <th scope="col">{{_('Sous_Rubrique')}}</th>
                              <th scope="col">{{_('Regroupement_acte')}}</th>
                              <th scope="col">{{_('Acte')}}</th>
                              <th scope="col">{{_('Lien_parente')}}</th>
                              <th scope="col">{{_('Age_minimum')}}</th>
                              <th scope="col">{{_('Age_maximum')}}</th>
                              <th scope="col">{{_('Garanti')}}/{{_('Exclu')}}</th>
                              <th scope="col">{{_('Couverture')}}</th>
                              <th scope="col">{{_('Plafond_rubrique')}}</th>
                              <th scope="col">{{_('Plafond_sous_rubrique')}}</th>
                              <th scope="col">{{_('Plafond_regroupement')}}</th>
                              <th scope="col">{{_('Plafond_acte')}}</th>
                              <th scope="col">{{_('Periodicite')}}</th>
                              <!--th scope="col">Date début</th-->
                              <!--th scope="col">Date désactivation</th-->
                              <!--th scope="col">Statut</th-->
                              <th scope="col">{{_('Actions')}}</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for bareme in baremes %}
                           {% if bareme.statut == "ACTIF" %}
                           <tr>
                              <td>{{ bareme.rubrique|default_if_none:"" }}</td>
                              <td>{{ bareme.sous_rubrique|default_if_none:"" }}</td>
                              <td>{{ bareme.regroupement_acte|default_if_none:"" }}</td>
                              <td>{{ bareme.acte|default_if_none:"" }}</td>
                              <td>{{ bareme.qualite_beneficiaire|default_if_none:"" }}</td>
                              <td>{{ bareme.age_minimum|default_if_none:"" }}</td>
                              <td>{{ bareme.age_maximum|default_if_none:"" }}</td>
                              <td>{% if bareme.is_garanti %} <span class="badge badge-success">{{_('GARANTI')}}</span> {% else %} <span class="badge badge-danger">{{_('EXCLU')}}</span> {% endif %}</td>
                              <td style="text-align:right;">{{ bareme.taux_couverture|default_if_none:"" }} %</td>
                              <td style="text-align:right;">{{ bareme.plafond_rubrique|money_field|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ bareme.plafond_sous_rubrique|money_field|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ bareme.plafond_regroupement_acte|money_field|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ bareme.plafond_acte|money_field|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ bareme.periodicite|default_if_none:"" }}</td>
                              <!--td>{{ bareme.date_debut|date:"d/m/Y" }}</td-->
                              <!--td>{{ bareme.date_fin|date:"d/m/Y" }}</td-->
                              <!--td><span class="badge badge-{{bareme.statut|default_if_none:''|slugify}}">{{ bareme.statut|default_if_none:""}}</span></td-->
                              <td>
                                 <span data-href="{% url 'detail_bareme' bareme.id %}" class="btn badge btn-sm btn-details rounded-pill popup-detail_formule_bareme"><i class="fa fa-eye"></i> {{_('Details')}}</span></a>&nbsp;&nbsp;&nbsp;
                                 {% if bareme.statut == "ACTIF" %}<span title="Désactiver" class="popup-desactiver_bareme btn badge badge-danger btn-sm rounded-pill btn-desactiver " data-bareme_id="{{ bareme.id }}" data-libelle="{{ bareme.acte.rubrique }} - {{ bareme.acte.libelle }}" style="cursor:pointer;font-weight:normal;"><i class="fa fa-times"></i> {{_('Desactiver')}}</span>{% endif %}
                              </td>
                              {% endif %}
                              {% endfor %}
                           </tr>
                        </tbody>
                     </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>

{% endblock %}