<div class="col-12 col-md-12" style="padding:0px;margin:0px;">
  <div class="card">
    <div class="card-header">
        <h3 class="card-title">
          <span class="back_icon">
            {% if request.META.HTTP_REFERER %}
            <a href="{% url 'police_avenants' police.police.id %}" class="badge btn-sm btn-default btn-retour" style="color:black;font-weight:normal;" title="Retour à la liste des polices"><i class="fas fa-arrow-left"></i> {{_('Retour')}}</a>
            {% endif %}
          </span>
          <span class="the_title" style="margin-left:10px;font-weight:bold;">
            {{_('POLICE_NUMERO')}} : {{ police.numero|default_if_none:police.police.numero }}
          </span>
        </h3>
    </div>
  </div>
</div>


<div class="callout">
    <h5>{{_('POLICE')}}</h5>
    <div class="row invoice-info">
      <div class="col-sm-3 invoice-col">
        <strong>{{_('Nom_assure')}}</strong><br />
        <span class="">{{ police.client}}</span>
      </div>

      <div class="col-sm-3 invoice-col">
        <strong>{{_('Assureur')}}</strong><br />
        <span class="">{{ police.compagnie }}</span>
      </div>

      <div class="col-sm-3 invoice-col">
        <b>{{_('Reference_police')}}</b><br />
        <span class="">{{ police.numero|default_if_none:police.police.numero }}</span>
      </div>
<!--      <div class="col-sm-3 invoice-col">-->
<!--        <b>{{_('Etat')}}</b><br />-->
<!--          {% if police.etat_police == 'Résilié' or police.etat_police == 'Annulé' or police.etat_police == 'Suspendu' %}-->
<!--          <span style="text-transform:uppercase;"-->
<!--                class="badge  {% if police.etat_police == 'Résilié' %} badge-danger-->
<!--                {% elif police.etat_police == 'Annulé' %} badge-danger-->
<!--                {% elif police.etat_police == 'Suspendu' %} badge-suspendu-->
<!--                {% else %} badge-success {% endif %} ">-->
<!--              {{ police.etat_police|default_if_none:"" }}-->
<!--          </span>-->
<!--          {% elif police.is_echue %}-->
<!--          <span style="text-transform:uppercase;" class="badge badge-danger">ECHUE</span>-->
<!--          {% else %}-->
<!--          <span style="text-transform:uppercase;" class="badge badge-success">-->
<!--              {{ police.etat_police|default_if_none:"" }}-->
<!--          </span>-->
<!--          {% endif %}-->
<!--      </div>-->
    </div>
  </div>
  
<!--<div class="row">-->
<!--    &lt;!&ndash;div class="col-12 col-sm-4 col-md-2">-->
<!--      <a href="{% url 'client_details' police.client.id %}">-->
<!--        <div class="info-box">-->
<!--            <span class="info-box-icon text-white elevation-1 o-bg-primary"><i class="fas fa-user-tag"></i></span></span>-->
<!--            <div class="info-box-content">-->
<!--              <span class="info-box-text">CLIENT</span>-->
<!--            </div>-->
<!--          </div>-->
<!--    </a>-->
<!--    </div&ndash;&gt;-->
<!--    <div class="col-12 col-sm-4 col-md-3">-->
<!--      <a href="{% url 'police.details' police.id %}">-->
<!--        <div class="info-box">-->
<!--            <span class="info-box-icon elevation-1 o-bg-primary" id="police"><i class="fas fa-file-contract"></i></span></span>-->
<!--            <div class="info-box-content">-->
<!--              <span class="info-box-text">{{_('FICHE_POLICE')}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--    </a>-->
<!--    </div>-->
<!--    <div class="col-12 col-sm-4 col-md-3">-->
<!--        <a href="{% url 'police_avenants' police.id %}">-->
<!--          <div class="info-box">-->
<!--              <span class="info-box-icon elevation-1 o-bg-primary" id="avenant"><i class="fas fa-history"></i></span></span>-->
<!--              <div class="info-box-content">-->
<!--                <span class="info-box-text">{{_('AVENANT')}}</span>-->
<!--              </div>-->
<!--            </div>-->
<!--      </a>-->
<!--      </div>-->
<!--    <div class="col-12  col-sm-6 col-md-3">-->
<!--      <a href="{% url 'police_formules' police.id %}">-->
<!--        <div class="info-box">-->
<!--            <span class="info-box-icon elevation-1 o-bg-primary" id="formule"><i class="fas fa-umbrella"></i></span></span>-->
<!--            <div class="info-box-content">-->
<!--              <span class="info-box-text">{{_('FORMULE_DE_GARANTIE')}} /<br/>{{_('COLLEGE')}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="col-12 col-sm-4 col-md-3">-->
<!--        <a href="{% url 'police_tarifs_specifiques' police.id %}">-->
<!--          <div class="info-box">-->
<!--              <span class="info-box-icon elevation-1 o-bg-primary"><i class="fa fa-file"></i-->
<!--              ></span>-->
<!--              <div class="info-box-content">-->
<!--                <span class="info-box-text">{{_('TARIF_SPECIFIQUE')}}</span>-->
<!--              </div>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->

<!--      <div class="col-12 col-sm-4 col-md-3">-->
<!--        <a href="{% url 'police_ged' police.id %}">-->
<!--          <div class="info-box">-->
<!--              <span class="info-box-icon elevation-1 o-bg-primary" id="ged"><i class="fas fa-folder-open"></i></span></span>-->
<!--              <div class="info-box-content">-->
<!--                <span class="info-box-text">{{_('GED')}}</span>-->
<!--              </div>-->
<!--            </div>-->
<!--      </a>-->
<!--      </div>-->

<!--    <div class="col-12 col-sm-4 col-md-3">-->
<!--      {% if police.produit.branche.code == 'SANTE' %}-->
<!--      <a href="{% url 'police_beneficiaires' police.id %}">-->
<!--        <div class="info-box mb-3">-->
<!--            <span class="info-box-icon elevation-1 o-bg-primary" id="beneficiaire"><i class="fas fa-users"></i-->
<!--            ></span>-->
<!--            <div class="info-box-content">-->
<!--              <span class="info-box-text">{{_('BENEFICIAIRE')}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--      </a>-->
<!--      {% else %}-->

<!--      <a href="{% url 'police_vehicules' police.id %}">-->
<!--        <div class="info-box mb-3">-->
<!--            <span class="info-box-icon elevation-1 o-bg-primary" id="aliments"><i class="fa fa-car"></i-->
<!--            ></span>-->
<!--            <div class="info-box-content">-->
<!--              <span class="info-box-text">{{_('ALIMENTS')}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--      </a>-->
<!--      {% endif %}-->
<!--    </div>-->

<!--    <div class="col-12 col-sm-6 col-md-3">-->
<!--        <a href="{% url 'police_quittances' police.id %}">-->
<!--          <div class="info-box">-->
<!--              <span class="info-box-icon elevation-1 o-bg-primary" id="quittance"><i class="fas fa-file-invoice-dollar"></i></span></span>-->
<!--              <div class="info-box-content">-->
<!--                <span class="info-box-text">{{_('QUITTANCE')}}</span>-->
<!--              </div>-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div class="clearfix hidden-md-up"></div>-->
<!--    <div class="col-12 col-sm-4 col-md-3">-->
<!--        <a href="{% url 'police_sinistres' police.id %}">-->
<!--          <div class="info-box mb-5">-->
<!--              <span class="info-box-icon elevation-1 o-bg-primary" id="sinistre"><i class="fas fa-user-injured"></i-->
<!--              ></span>-->
<!--              <div class="info-box-content">-->
<!--                <span class="info-box-text">{{_('SINISTRE')}}</span>-->
<!--              </div>-->
<!--            </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    &lt;!&ndash;div class="col-12 col-sm-4 col-md-2">-->
<!--      <span style="cursor:pointer;" class="btn_modifier_police" data-href="{% url 'modifier_police' police.id %}" data-model_name="police" data-modal_title="MODIFICATION D'UNE POLICE">-->
<!--        <div class="info-box mb-3">-->
<!--            <span class="info-box-icon elevation-1 o-bg-primary" id="update"><i class="fas fa-pen"></i-->
<!--            ></span>-->
<!--            <div class="info-box-content">-->
<!--              <span class="info-box-text">MODIFIER</span>-->
<!--            </div>-->
<!--          </div>-->
<!--      </span>-->
<!--    </div&ndash;&gt;-->

<!--  </div>-->

