{% extends 'police/menu_police.html' %}
{% load my_filters %}
{% load i18n %}
{% block extrastyle %}{% endblock %}
{% block content_title %}
    <div class="row mb-2">
          <div class="col-sm-6">
                <h1 class="m-0">Historique de la police</h1>
          </div>
          <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                      <li class="breadcrumb-item">Production</li>
                      <li class="breadcrumb-item"><a href="{% url 'clients' %}">Clients</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'police.details' police.id %}">Police</a></li>
                      <li class="breadcrumb-item active">Historique de la police</li>
                </ol>
          </div>
    </div>
{% endblock %}
{% block content %}
<!--div class="col-md-12">
  <div class="card offset">
    <div class="card-header nobg">
      <h3 class="card-title o-primary">PAGE POLICE</h3>
      <div class="card-tools" style="color:#C1826F;text-shadow:0px .1px 0px black;">
        Bureau: {{ police.bureau }}
      </div>
    </div>
    <div class="card-body">
      <div class="row"-->
        <div class="col-12 col-md-12 order-2 order-md-1">
          <div class="row">
            <div class="col-12 col-md-6 col-md-12">
              <h4></h4>
              <div class="card shadow_">
                <div class="card-header o-bg-primary">
                <h3 class="card-title text-white">{{_("HISTORIQUE DE LA POLICE")}}</h3>
                <div class="card-tools">
                </div>
                
                </div>
                
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Numero Police cie")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ police.numero|default_if_none:police.police.numero }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Numero Police provisoire")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ police.numero_provisoire|default_if_none:police.police.numero_provisoire }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_('Assureur')}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ police.compagnie|default_if_none:"" }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="vl"></div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_('Branche')}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ police.produit.branche|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_('Produit')}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ police.produit|default_if_none:"" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h6 class="o-primary">{{_('DATES')}}</h6>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Date début")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ police.date_debut_effet|date:'d/m/Y' }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Date fin")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ police.date_fin_effet|date:'d/m/Y' }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Durée de la police")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ duree_police }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="vl"></div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Préavis de résiliation")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ police.preavis_de_resiliation|default_if_none:"" }} {{_('MOIS')}}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_('Renouvellement')}}</label>
                                <div class="col-sm-6">
                                <span class="form-control" style="font-size:15px">{{ police.mode_renouvellement|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Date fin police")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ police.date_fin_police|date:'d/m/Y' }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h6 class="o-primary">{{_('FACTURATION')}}</h6>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Dévise")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{police.bureau.pays.devise.code|default_if_none:""}}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_('Fractionnement')}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{police.fractionnement|default_if_none:""}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="vl"></div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Mode de règlement")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{police.mode_reglement|default_if_none:""}}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Prochaine date de facture")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{police.date_prochaine_facture|date:'d/m/Y'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h6 class="o-primary">{{_("LA PRIME")}}</h6>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Prime HT")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control money_field">{{police.prime_ht}}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_('Taxe')}}</label>
                                <div class="col-sm-6">
                                <span class="form-control money_field">{{police.taxe}}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Coût police cie")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control money_field">{{police.cout_police_compagnie}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="vl"></div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Coût police courtier")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control money_field">{{police.cout_police_courtier}}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Autres taxes")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control money_field">{{police.autres_taxes}}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Prime TTC")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control money_field"> {{police.prime_ttc}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h6 class="o-primary">{{_('COMMISSIONS')}}</h6>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Taux Com Courtage")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control text-right">{{police.taux_com_courtage|default_if_none:''}} %</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Taux Participation")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control text-right">{{police.taux_participation|default_if_none:''}} %</span>
                                </div>
                            </div>
                        </div>
                        <div class="vl"></div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Com de Courtage")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control money_field">{{police.commission_courtage}}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Participation Bénéf.")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control ">{{police.participation}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="o-primary">{{_('INTERMEDIAIRES')}}</h6>
                    <hr>
                    <div class="row mb-3">

                        <div class="col-sm-11  mb-3" style="padding-right:0px;">
                            <table id="table_apporteurs_details_police" class="table table-bordered table-striped dataTable customDataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th style="padding:5px;">{{_("Nom & Prénoms")}}</th>
                                        <th style="padding:5px;">{{_("Base de calcul")}}</th>
                                        <th style="width:20%;padding:5px;">{{_("Taux Retro AN.")}}</th>
                                        <th style="width:20%;padding:5px;">{{_("Montant Retro AN")}}</th>
                                        <th style="width:20%;padding:5px;">{{_("Taux Retro Renouv")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for apporteur_police in apporteurs_police%}
                                <tr>
                                    <td style="padding:5px;">{{ apporteur_police.apporteur.nom|default_if_none:"" }} {{ apporteur_police.apporteur.prenoms|default_if_none:"" }}</td>
                                    <td style="padding:5px;">{{ apporteur_police.base_calcul.libelle|default_if_none:"" }}</td>
                                    <td style="padding:5px;padding-right:10px;" class="text-right">{{ apporteur_police.taux_com_affaire_nouvelle|money_field }} %</td>
                                    <td style="padding:5px;padding-right:10px;" class="text-right">{{ apporteur_police.com_affaire_nouvelle|money_field }} </td>
                                    <td style="padding:5px;padding-right:10px;" class="text-right">{{ apporteur_police.taux_com_renouvellement|money_field }} %</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-6">
                            <!--div class="form-group row">
                                <label class="col-sm-6 col-form-label">Nombre apporteurs</label>
                                <div class="col-sm-6">
                                <span class="form-control text-right">{{ i }}</span>
                                </div>
                            </div-->
                        </div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Retro Apporteurs")}}</label>
                                <div class="col-sm-6">
                                <span class="form-control money_field" style="background: #f0dcc8; border: #f0dcc8">{{police.commission_intermediaires|default_if_none:"0" }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <h6 class="o-primary">{{_("APPORTEUR ET PROGRAMME")}}</h6>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_('Autofinancement')}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ police.autofinancement|default_if_none:"" }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="vl"></div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_('Apporteur')}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{ police.apporteur|default_if_none:"" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h6 class="o-primary">{{_('SITUATION')}}</h6>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_('Mouvement')}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{mouvement_police.mouvement.libelle}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="vl"></div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_('Motif')}}</label>
                                <div class="col-sm-6">
                                <span class="form-control">{{mouvement_police.motif.libelle}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h6 class="o-primary">{{_('PARTENAIRE')}}</h6>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">{{_("Logo du partenaire")}}</label>
                                <div class="col-sm-6">
                                    {% if police.logo_partenaire %}
                                        <img style="width:50px;" src="{{request.scheme}}://{{request.META.HTTP_HOST}}{{police.logo_partenaire.url}}" alt="" srcset="" class="logo-partenaire">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="vl"></div>
                        <div class="col-md-5">

                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>
    <!--/div>
  </div>
</div-->
<style type="text/css">
    <!--
    /*gestion des champs variables*/
    .champ_variable_details_police {
        display:none;
    }

    {% if police.mode_calcul.code == "famille" %}
    .if_detailspolice_prime_famille{
          display:flex;
    }
    {% endif %}

    {% if police.mode_calcul.code == "personne" %}
    .if_detailspolice_prime_personne{
          display:flex;
    }
    {% endif %}

    {% if police.mode_calcul.code == "adulte_enfant" %}
    .if_detailspolice_prime_adulte_enfant{
          display:flex;
    }
    {% endif %}

    {% if police.mode_calcul.code == "proportionnelle" %}
    .if_detailspolice_prime_proportionnelle{
          display:flex;
    }
    {% endif %}

    -->
</style>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function() {
        $('#police').removeClass('o-bg-primary');
        $('#police').addClass('o-active');
    } );
</script>
{% endblock %}
