<div  class="modal fade"  id="modal_add_tarif_prestataire_client" data-backdrop="static" data-keyboard="false" aria-hidden="true"  style="display: none">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form enctype="multipart/form-data" id="form_add_tarif_prestataire_client" action="{% url 'add_tarif_specifique' police.id %}" method="POST">
			{% csrf_token %}
			<div class="modal-header">
				<h4 class="modal-title">{{_('AJOUT_DE_TARIF_NEGOCIE_CLIENT_PRESTATAIRE')}}</h4>
				<button type="button" class="close"data-dismiss="modal"aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert  alert-dismissible fade show hidden" role="alert">
				  <span class="message">{{_('TRAITEMENT_EN_COURS')}}</span>
				</div>
				<div class="col-md-12 offset-0">
                    <div class="row">
                        <div class="col-12">
							<div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Prestataire')}} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control tags-multiple" name="prestataire" id="prestataire" required>
										<option value="">{{_('Choisir')}}</option>
										{% for prestataire in prestataires %}
										<option value="{{ prestataire.id }}">{{ prestataire.name }}</option>
										{% endfor %}
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
							<div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Formule')}} <!--police--><span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control tags-multiple" name="prestataire" id="formule_police" required>
										<option value="">{{_('Choisir')}}</option>
										{% for formule in formules %}
										<option value="{{ formule.id }}">{{ formule.libelle }}</option>
										{% endfor %}
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Fichier_tarif')}}<span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <input type="file" class="form-control" name="fichier_tarif" id="fichier_tarif" required/>
                                </div>
                            </div>
                        </div>
                    </div>

				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{_('Retour')}}</button>
					<button type="button" id="btn_add_tarif_prestataire_client" class="btn o-bg-primary">{{_('Valider')}}</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
