<div  class="modal fade"  id="modal-police" data-backdrop="static" data-keyboard="false" aria-hidden="true"  style="display: none">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<form enctype="multipart/form-data" id="form_add_police" action="{% url 'add_police' client.id %}" method="post">
			{% csrf_token %}
			<div class="modal-header">
				<h4 class="modal-title">{{_("CREATION D'UNE POLICE DU CLIENT")}} <b>{{ client.nom }}</b> <span style="color:white">- by EMI</span></h4>
				<button type="button"class="close"data-dismiss="modal"aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert  alert-dismissible fade show hidden" role="alert">
				  <span class="message"> {{_('TRAITEMENT_EN_COURS')}}</span>
				</div>
				<div class="col-md-12 offset-0">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item"><a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">{{_('GENERAL')}}</a></li>
						<!--<li class="nav-item onglets_sante_uniquement"><a class="nav-link" id="option_calcul-tab" data-toggle="tab" href="#option_calcul" role="tab" aria-controls="option_calcul" aria-selected="false">{{_("OPTION DE CALCUL DE LA PRIME")}}</a></li>
						<li class="nav-item onglets_sante_uniquement"><a class="nav-link" id="coeficients_stats-tab" data-toggle="tab" href="#coeficients_stats" role="tab" aria-controls="coeficients_stats" aria-selected="false">{{_("COEFICIENTS STATS")}}</a></li> -->
						<li class="nav-item"><a class="nav-link" id="intermediaire-tab" data-toggle="tab" href="#intermediaire" role="tab" aria-controls="intermediaire" aria-selected="false">{{_('INTERMEDIAIRES')}}</a></li>
						<li class="nav-item"><a class="nav-link" id="facturation-tab" data-toggle="tab" href="#facturation" role="tab" aria-controls="facturation" aria-selected="false">{{_('FACTURATION')}}</a></li>
						<li class="nav-item"><a class="nav-link" id="prime-tab" data-toggle="tab" href="#prime" role="tab" aria-controls="prime" aria-selected="false">{{_('PRIME')}}</a></li>
					</ul>
					<div class="tab-content" id="myTabContent">

						<div class="tab-pane fade mt-3 show active" id="general" role="tabpanel" aria-labelledby="general-tab">
							<div class="row">
								<div class="col-md-6">
									<!--div class="form-group row">
										<label class="col-sm-5 col-form-label">Client <span class="required">*</span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control notreset" name="client" value="{{ client.nom }}" readonly/>
										</div>
									</div-->
									<!--div class="form-group row">
										<label class="col-sm-5 col-form-label">Contrat ou Projet <span class="required">*</span></label>
										<div class="col-sm-7">
											<select class="form-control " name="statut_contrat" id="statut_contrat" required>
												<option value="">Choisir</option>
												<option value="{{ statut_contrat.PROJET }}">{{ statut_contrat.PROJET }}</option>
												<option value="{{ statut_contrat.CONTRAT }}">{{ statut_contrat.CONTRAT }}</option>
											</select>
										</div>
									</div-->
									<input type="hidden" class="form-control notreset" name="statut_contrat" value="{{ statut_contrat }}" readonly/>
									<!--div class="form-group row">
										<label class="col-sm-5 col-form-label">Branche <span class="required">*</span></label>
										<div class="col-sm-7">
											<select class="form-control " name="branche" id="branche" required>
												<option value="">Choisir</option>
												{% for branche in branches %}
												<option value="{{ branche.id }}" data-branche_code="{{ branche.code }}">{{ branche.nom }}</option>
												{% endfor %}
											</select>
										</div>
									</div-->
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Produit')}} <span class="required">*</span></label>
										<div class="col-sm-7">
											<select class="form-control " name="produit" id="produit" autocomplete="off" required>
												<option value="">{{_('Choisir')}}</option>
												{% for produit in produits %}
												<option selected value="{{ produit.id }}" data-branche_code="{{ produit.code }}">{{ produit.nom }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Assureur')}} <span class="required">*</span></label>
										<div class="col-sm-7">
											<select class="form-control" name="compagnie" id="compagnie" autocomplete="off" required>
												<option value="">{{_('Choisir')}}</option>
												{% for compagnie in compagnies %}
												<option value="{{ compagnie.id }}">{{ compagnie.nom }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Numéro police Cie")}}</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" name="numero" autocomplete="off" value="" />
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Date début")}}<span class="required">*</span></label>
										<div class="col-sm-7">
											<input type="date" class="form-control" name="date_debut_effet" autocomplete="off" value="" required/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Date Fin période garantie")}}<span class="required">*</span></label>
										<div class="col-sm-7">
											<input type="date" class="form-control" name="date_fin_effet" autocomplete="off" value="" required/>
										</div>
									</div>
								</div>
								<div class="vl"></div>
								<div class="col-md-6" style="border-left:0px;margin-left:-10px;padding-left:20px;">

									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Préavis de résiliation")}} <span class="required">*</span></label>
										<div class="col-sm-7">
											<select class="form-control" name="preavis_de_resiliation" autocomplete="off" required>
												<option value="">{{_('Choisir')}}</option>
												<option value="1">1 {{_('MOIS')}}</option>
												<option value="2">2 {{_('MOIS')}}</option>
												<option value="3">3 {{_('MOIS')}}</option>
												<option value="4">4 {{_('MOIS')}}</option>
												<option value="5">5 {{_('MOIS')}}</option>
												<option value="6">6 {{_('MOIS')}}</option>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Mode renouvellement")}}<span class="required">*</span></label>
										<div class="col-sm-7">
											<select class="form-control" name="mode_renouvellement" autocomplete="off" required>
												<option selected value="">{{_('Choisir')}}</option>
												<option value="{{ mode_renouvellement.TACITE_RECONDUCTION }}">{{ mode_renouvellement.TACITE_RECONDUCTION }}</option>
												<option value="{{ mode_renouvellement.SANS_TACITE_RECONDUCTION }}">{{ mode_renouvellement.SANS_TACITE_RECONDUCTION }}</option>
											</select>
										</div>
									</div>
									<div class="form-group row d-none">
										<label class="col-sm-5 col-form-label">{{_("Placement gestion")}}<span class="required"></span></label>
										<div class="col-sm-7">
											<select class="form-control" name="placement_gestion" autocomplete="off">
												<option selected value="">{{_('Choisir')}}</option>
												<option value="{{ placement_gestion.EN_LOCAL }}" selected>{{ placement_gestion.EN_LOCAL }}</option>
												<option value="{{ placement_gestion.PAR_LE_COURTIER_MASTER }}">{{ placement_gestion.PAR_LE_COURTIER_MASTER }}</option>
											</select>
										</div>
									</div>
									<div class="form-group row d-none">
										<label class="col-sm-5 col-form-label">{{_("Programme international")}}<span class="required"></span></label>
										<div class="col-sm-7">
											<div class="icheck-danger d-inline">
											  <input type="radio" name="programme_international" value="OUI" id="yes_programme_international"/>
											  <label for="yes_programme_international"> {{_('OUI')}} </label>
											</div>
											<div class="icheck-danger d-inline" style="margin-left:50px;">
											  <input type="radio" name="programme_international" value="NON" id="no_programme_international" checked/>
											  <label for="no_programme_international">{{_('NON')}} </label>
											</div>
										</div>
									</div>
									<!--div class="form-group row">
										<label class="col-sm-5 col-form-label">Devise <span class="required">*</span></label>
										<div class="col-sm-7">
											<select class="form-control" name="devise" required>
												<option selected value="">Choisir</option>
												{% for devise in devises %}
												<option value="{{ devise.id }}">{{ devise.libelle }}</option>
												{% endfor %}
											</select>
										</div>
									</div-->

									<div class="form-group row  ">
										<label class="col-sm-6 col-form-label">{{_("Logo du partenaire")}}<span class="required"></span></label>
										<div class="col-sm-6">
											<input type="file" class="form-control" id="logo_partenaire" name="logo_partenaire" autocomplete="off"/>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="tab-pane fade mt-3 d-none" id="option_calcul" role="tabpanel" aria-labelledby="option_calcul-tab">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-6 col-form-label">{{_("Option de calcul de la prime")}}<span class="required"></span></label>
										<div class="col-sm-6">
											<select class="form-control" name="mode_calcul" id="option_calcul_prime" autocomplete="off">
												<option value="">{{_('Choisir')}}</option>
												{% for mode_calcul in modes_calculs %}
												<option value="{{ mode_calcul.id }}" data-code="{{ mode_calcul.libelle }}">{{ mode_calcul.libelle }}</option>
												{% endfor %}
											</select>
										</div>
									</div>

									<div class="form-group row champ_variable if_prime_famille">
										<label class="col-sm-6 col-form-label">{{_("Prime famille")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="prime_famille" autocomplete="off" value=""/>
										</div>
									</div>


									<div class="form-group row champ_variable if_prime_personne">
										<label class="col-sm-6 col-form-label">{{_("Prime personne")}}<span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="prime_personne" autocomplete="off" value=""/>
										</div>
									</div>

									<div class="form-group row champ_variable if_prime_adulte_enfant">
										<label class="col-sm-6 col-form-label">{{_("Prime adulte")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="prime_adulte" autocomplete="off" value=""/>
										</div>
									</div>
									<div class="form-group row champ_variable if_prime_adulte_enfant">
										<label class="col-sm-6 col-form-label">{{_("Prime enfant")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="prime_enfant" autocomplete="off" value=""/>
										</div>
									</div>

									<div class="form-group row champ_variable if_prime_famille">
										<label class="col-sm-6 col-form-label">{{_("Nombre max personne par famille")}}<span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="nombre_max_personne_famille" autocomplete="off" value=""/>
										</div>
									</div>
									<div class="form-group row champ_variable if_prime_famille">
										<label class="col-sm-6 col-form-label">{{_("Nombre max d'enfants par famille")}}<span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="nombre_max_enfants_famille" autocomplete="off" value=""/>
										</div>
									</div>
									<div class="form-group row champ_variable if_prime_famille if_prime_personne">
										<label class="col-sm-6 col-form-label">{{_("Age maximum des adultes")}}<span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="age_max_adultes" autocomplete="off" value=""/>
										</div>
									</div>
									<div class="form-group row champ_variable if_prime_famille if_prime_adulte_enfant">
										<label class="col-sm-6 col-form-label">{{_("Age maximum des enfants")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="age_max_enfants" autocomplete="off" value=""/>
										</div>
									</div>

									<div class="form-group row champ_variable if_prime_proportionnelle">
										<label class="col-sm-6 col-form-label">{{_("Taux cotisation")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="taux_cotisation" autocomplete="off" value=""/>
										</div>
									</div>
									<div class="form-group row champ_variable if_prime_proportionnelle">
										<label class="col-sm-6 col-form-label">{{_("Part employeur")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="part_employeur" autocomplete="off" value=""/>
										</div>
									</div>
									<div class="form-group row champ_variable if_prime_proportionnelle">
										<label class="col-sm-6 col-form-label">{{_("Cotisation minimale")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="cotisation_minimale" autocomplete="off" value=""/>
										</div>
									</div>
									<div class="form-group row champ_variable if_prime_proportionnelle">
										<label class="col-sm-6 col-form-label">{{_("Cotisation maximale")}}<span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="cotisation_maximale" autocomplete="off" value=""/>
										</div>
									</div>




								</div>
								<div class="vl"></div>
								<div class="col-md-6" style="border-left:0px;margin-left:-10px;padding-left:20px;">

									<div class="form-group row champ_variable if_prime_famille if_prime_personne if_prime_adulte_enfant">
										<label class="col-sm-6 col-form-label">{{_("Surprime âge adulte")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field not_required" name="surprime_age_adulte" autocomplete="off" value=""/>
										</div>
									</div>

									<div class="form-group row champ_variable if_prime_famille">
										<label class="col-sm-6 col-form-label">{{_("Surprime personne sup")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="surprime_personne_sup" autocomplete="off" value=""/>
										</div>
									</div>
									<div class="form-group row champ_variable if_prime_famille">
										<label class="col-sm-6 col-form-label">{{_("Surprime enfant sup")}}<span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field required_field" name="surprime_enfant_sup" autocomplete="off" value=""/>
										</div>
									</div>
									<div class="form-group row champ_variable if_prime_famille">
										<label class="col-sm-6 col-form-label">{{_("Surprime ascendant")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field" name="surprime_ascendant" autocomplete="off" value=""/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-6 col-form-label">{{_("Type de majoration contrat")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<select class="form-control" name="type_majoration" autocomplete="off">
												<option value="">{{_('Choisir')}}</option>
												<option value="{{ type_majoration_contrat.TAUX }}">{{ type_majoration_contrat.TAUX }}</option>
												<option value="{{ type_majoration_contrat.MONTANT }}">{{ type_majoration_contrat.MONTANT }}</option>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-6 col-form-label">{{_("Ticket moderateur")}}<span class="required">*</span></label>
										<div class="col-sm-6">
											<select class="form-control" name="ticket_moderateur" autocomplete="off">
												<option value="">{{_('Choisir')}}</option>
												{% for ticket_moderateur in tickets_moderateurs %}
												<option value="{{ ticket_moderateur.id }}">{{ ticket_moderateur.libelle }}</option>
												{% endfor %}
											</select>
										</div>
									</div>

<!--									<div class="form-group row">-->
<!--										<label class="col-sm-6 col-form-label">Type préfinancement <span class="required">*</span></label>-->
<!--										<div class="col-sm-6">-->
<!--											<select class="form-control" name="type_prefinancement" autocomplete="off" required>-->
<!--												<option value="">Choisir</option>-->
<!--												{% for type_prefinancement in types_prefinancements %}-->
<!--												<option value="{{ type_prefinancement.id }}">{{ type_prefinancement.libelle }}</option>-->
<!--												{% endfor %}-->
<!--											</select>-->
<!--										</div>-->
<!--									</div>-->
									<div class="form-group row">
										<label class="col-sm-6 col-form-label">{{_('Autofinancement')}} <span class="required">*</span></label>
										<div class="col-sm-6">
											<div class="icheck-danger d-inline">
											  <input type="radio" value="OUI" name="autofinancement" id="yes_autofinancement"/>
											  <label for="yes_autofinancement"> {{_('OUI')}} </label>
											</div>
											<div class="icheck-danger d-inline" style="margin-left:50px;">
											  <input type="radio" name="autofinancement" value="NON" id="no_autofinancement" checked/>
											  <label for="no_autofinancement">{{_('NON')}} </label>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="tab-pane fade mt-3" id="coeficients_stats" role="tabpanel" aria-labelledby="coeficients_stats-tab">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Taux charge sur prime HT")}} <span class="required">*</span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field" name="taux_charge" autocomplete="off" value="0" required/>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Coefficient')}} N <span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field" name="coefficient_n" autocomplete="off" value="0" />
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Coefficient')}} N + 1 <span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field" name="coefficient_n1" autocomplete="off" value="0" />
										</div>
									</div>

								</div>
								<div class="vl"></div>
								<div class="col-md-6" style="border-left:0px;margin-left:-10px;padding-left:20px;">

									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Coefficient')}} N + 2 <span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field" name="coefficient_n2" autocomplete="off" value="0" />
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Coefficient')}} N + 3 <span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field" name="coefficient_n3" autocomplete="off" value="0" />
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade mt-3" id="intermediaire" role="tabpanel" aria-labelledby="intermediaire-tab">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group row">
										<label class="col-sm-6 col-form-label">{{_('Apporteur')}} <span class="required"></span></label>
										<div class="col-sm-6">
											<div class="icheck-danger d-inline">
											  <input type="radio" name="apporteur" value="OUI" id="yes_apporteur"/>
											  <label for="yes_apporteur"> {{_('OUI')}} </label>
											</div>
											<div class="icheck-danger d-inline" style="margin-left:50px;">
											  <input type="radio" name="apporteur" value="NON" id="no_apporteur" checked/>
											  <label for="no_apporteur">{{_('NON')}} </label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12" id="test">
									<hr>
									<table id="table_apporteurs_police" style="width:100%;" class="table table-bordered table-striped dataTable_ dtr-inline">
											<thead>
												<tr>
													<th style="width:;">{{_("Apporteur d'affaire")}}<span id="btn_refresh_liste_apporteurs" class="fa fa-refresh pull-right" data-href="{% url 'ajax_apporteurs' %}" title="Rafraichir" style="cursor:pointer;margin-top:5px;"></span></th>
													<th style="width:;">{{_("Base de calcul")}}</th>
													<th style="width:20%;">{{_("Taux Com AN.")}} (%)</th>
													<th style="width:20%;">{{_("Taux Com Renouv")}} (%)</th>
													<th style="width:"></th>
												</tr>
											</thead>
											<tbody>
												<tr id="tr_initial">
													<td style="vertical-align:middle;">
														<div class="row" style="margin-right:5px;">
															<!--div class="col-sm-11" style="padding-right:0px;">
																<input type="text" style="display:none;" class="intermediaire" readonly data-commentaire="quand c'est un champ hidden, sa valeur est conservé quand on copie la ligne TR pour en créer une autre à partir du bouton ajouter une ligne, de sorte que le meme apporteur est listé par défaut: correction, vider sa valeur lors de la dupplication"/>
																<input type="text" class="form-control intermediaire_nom_prenoms" placeholder="Selectionner un apporteur" style="border-top-right-radius:0px;border-bottom-right-radius:0px;background:#fff;" readonly/>
															</div>
															<div class="col-sm-1" style="padding-left:0px;">
																<span class="btn " style="background:gray;color:white;border-top-left-radius:0px;border-bottom-left-radius:0px;" data-toggle="modal" data-target="#modal-apporteurs" data-opener_id=""><i class="fa fa-angle-down"></i></span>
															</div-->
															<select class="form-control calculs_handler_police intermediaire " name="intermediaires" id="intermediaires">
																<option value="">{{_('Choisir')}}</option>
																{% for apporteur in apporteurs %}
																<option value="{{ apporteur.id }}">{{ apporteur.nom|default_if_none:"" }} {{ apporteur.prenoms|default_if_none:"" }}</option>
																{% endfor %}
															</select>

														</div>
													</td>
													<td style="vertical-align:middle;padding:5px;">
														<select class="form-control calculs_handler_police base_calcul_taux_retrocession not_select2" name="base_calcul_taux_retrocession" >
															<option value="">{{_('Choisir')}}</option>
															{% for bc in bases_calculs %}
															<option value="{{ bc.id }}">{{ bc.libelle }}</option>
															{% endfor %}
														</select>
													</td>
													<td style="vertical-align:middle;padding:5px;">
														<input maxlength="5" type="text" class="form-control money_field_avec_virgule calculs_handler_police taux_com_affaire_nouvelle" name="taux_com_affaire_nouvelle" value="" />
													</td>
													<td style="vertical-align:middle;padding:5px;">
														<input maxlength="5" type="text" class="form-control money_field_avec_virgule calculs_handler_police taux_com_renouvelement" name="taux_com_renouvelement" value="" />
													</td>
													<td style="vertical-align:middle;padding:5px;"><span style="cursor:pointer;" class="btn btn-sm btn-default btnSupprimerLigneApporteur"><i class="fa fa-times" style="font-size:12px;"></i></span></td>
												</tr>
											</tbody>
											<tfoot style="display:none;">
												<tr class="add-row"><td colspan="5"><span id="btnAddLigneApporteur" style="cursor:pointer;" class="btn btn-sm btn-default float-right"><i class="fa fa-plus" style="font-size:12px;"></i> {{_('Ajouter_une_ligne')}}</span></td></tr>
											</tfoot>
										</table>
								</div>
							</div>
						</div>

						<div class="tab-pane fade mt-3" id="facturation" role="tabpanel" aria-labelledby="facturation-tab">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Fractionnement')}} <span class="required">*</span></label>
										<div class="col-sm-7">
											<select class="form-control" name="fractionnement" autocomplete="off" required>
												<option value="">{{_('Choisir')}}</option>
												{% for fractionnement in fractionnements %}
												<option value="{{ fractionnement.id }}">{{ fractionnement.libelle }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Mode règlement")}} <span class="required">*</span></label>
										<div class="col-sm-7">
											<select class="form-control" name="mode_reglement" autocomplete="off" required>
												<option value="">{{_('Choisir')}}</option>
												{% for mode_reglement in modes_reglements %}
												<option value="{{ mode_reglement.id }}">{{ mode_reglement.libelle }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Regularisation')}} <span class="required">*</span></label>
										<div class="col-sm-7">
											<select class="form-control" name="regularisation" autocomplete="off" required>
												<option value="">{{_('Choisir')}}</option>
												{% for regularisation in regularisations %}
												<option value="{{ regularisation.id }}">{{ regularisation.libelle }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Date prochaine facture")}} <span class="required">*</span></label>
										<div class="col-sm-7">
											<input type="date" class="form-control" name="date_prochaine_facture" value="" required/>
										</div>
									</div>
								</div>
								<div class="vl"></div>
								<div class="col-md-5" style="border-left:0px;margin-left: 20px;">

									<div class="form-group row">
										<label class="col-sm-6 col-form-label">{{_("Taux com Courtage AN.")}} <span class="required">*</span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field_avec_virgule calculs_handler_police" name="taux_com_courtage" id="taux_com_courtage" autocomplete="off" value="" required readonly0/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-6 col-form-label">{{_("Taux com Courtage Terme")}} <span class="required"></span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field_avec_virgule calculs_handler_police" name="taux_com_courtage_terme" id="taux_com_courtage_terme" autocomplete="off" value="" readonly0/>
										</div>
									</div>
									<div class="form-group row d-none">
										<label class="col-sm-6 col-form-label">{{_('Taux com Gestion')}} <span class="required">*</span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field_avec_virgule calculs_handler_police" name="taux_com_gestion" id="taux_com_gestion" autocomplete="off" value=""  readonly0/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-6 col-form-label">{{_('Participation Bénéf.')}} <span class="required">*</span></label>
										<div class="col-sm-6">
											<div class="icheck-danger d-inline">
											  <input type="radio" name="participation" value="OUI" class="participation" id="yes_participation"/>
											  <label for="yes_participation"> {{_('OUI')}} </label>
											</div>
											<div class="icheck-danger d-inline" style="margin-left:50px;">
											  <input type="radio" name="participation" value="NON" class="participation" id="no_participation" checked/>
											  <label for="no_participation">{{_('NON')}} </label>
											</div>
										</div>
									</div>
									<div class="form-group row" id="box_taux_participation" style="display:none;">
										<label class="col-sm-6 col-form-label">{{_("Taux de participation")}}</label>
										<div class="col-sm-6">
											<input type="text" class="form-control money_field" name="taux_participation" id="taux_participation" value="0"/>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade mt-3" id="prime" role="tabpanel" aria-labelledby="prime-tab">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Prime HT")}} <span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field calculs_handler_police" name="prime_ht" id="prime_ht" autocomplete="off" value="0" />
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Coût police Cie")}}<span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field calculs_handler_police" name="cout_police_compagnie" id="cout_police_compagnie" autocomplete="off" value="0" />
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Coût police courtier")}} <span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field calculs_handler_police" name="cout_police_courtier" id="cout_police_courtier" autocomplete="off" value="0" />
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Taxe')}} <span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field calculs_handler_police" name="taxe" id="taxe" autocomplete="off" value="0" />
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Autres Taxes")}} <span class="required"></span></label>
										<div class="col-sm-6" style="padding-right:0px;">
											<input style="border-top-right-radius:0px;border-bottom-right-radius:0px;" type="text" class="form-control money_field calculs_handler_police" name="autres_taxes" id="autres_taxes" autocomplete="off" value="0" readonly/>
										</div>
										<div class="col-sm-1" style="padding-left:0px;">
											<span class="btn " style="background:gray;color:white;border-top-left-radius:0px;border-bottom-left-radius:0px;" data-toggle="modal" data-target="#modal-autres_taxes">+</span>
										</div>
									</div>
								</div>
								<div class="vl"></div>
								<div class="col-md-5" style="border-left:0px;margin-left: 20px;">

									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Prime TTC")}} <span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field" name="prime_ttc" id="prime_ttc" autocomplete="off" value="0" readonly/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Com Courtage")}} <span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field" name="commission_courtage" id="commission_courtage" autocomplete="off" value="0" readonly/>
										</div>
									</div>
									<div class="form-group row d-none">
										<label class="col-sm-5 col-form-label">{{_("Com Gestion")}} <span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field" name="commission_gestion" id="commission_gestion" autocomplete="off" value="0"  readonly/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Retro Apporteurs")}} <span class="required"></span></label>
										<div class="col-sm-7">
											<input type="text" class="form-control money_field" name="commission_intermediaire" id="total_commission_intermediaire" autocomplete="off" value="0"  readonly/>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> {{_('Retour')}}</button>
					<button type="button" id="btn_save_police" class="btn btn-info"><i class="fa fa-check-circle"></i> {{_('Enregistrer')}}</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>

