{% extends 'police/base.html' %} {% block extrastyle %} {% endblock %} 
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">
  {% include 'police/header.html' %}
  <div class="card">
    <div class="card-header">
        <h3 class="card-title text-white">{{_('TARIFS_SPECIFIQUES')}}</h3>
        <div class="card-tools">
          {% if police.etat_police == "En cours" or police.etat_police == "En attente" %}
          <!--a class="btn btn-sm btn-default" data-toggle="modal"  data-target="#modal_add_tarif_prestataire_client"><i class="fas fa-plus"></i> {{_('Ajouter_un_tarif_specifique')}}</a-->
          {% endif %}
        </div>
    </div>
    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
              <table class="table table-bordered table-striped dataTable dtr-inline" id="table_tarifs_specifiques">
                  <thead>
                    <tr>
                      <th scope="col">{{_('Prestataire')}}</th>
                      <th scope="col">{{_('Formule')}}</th>
                      <th scope="col">{{_('Fichier')}}</th>
                      <th scope="col">{{_('Date_creation')}}</th>
                      <th scope="col">{{_('Actions')}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for tarif in tarifs_specifiques %}
                    <tr>
                        <td>{{ tarif.prestataire|default_if_none:"" }}</td>
                        <td>{{ tarif.formule|default_if_none:"" }}</td>
                        <td>{{ tarif.fichier_tarifs|default_if_none:"" }}</td>
                        <td>{{ tarif.created_at|date:'d/m/Y'|default_if_none:"" }}</td>
                        <td>
                            <span style="cursor:pointer;" class="btn_supprimer_tarif_specifique" data-tarif_specifique_id="{{ tarif.id }}" data-href="{% url 'del_tarif_specifique' %}"><i class="fas fa-times text-danger"></i></span>
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function() {
        $('#garantie').removeClass('o-bg-primary');
        $('#garantie').addClass('o-active');
    } );
</script>
{% endblock %}
