{% extends 'client/menu_client.html' %}
{% load my_filters %}
{% load i18n %}
{% block extrastyle %}
  <style type="text/css">
    .vl {
       border-left: 2px solid var(--colorPrimary);
       height: auto;
    }
    .o-primary {
      color: var(--colorPrimary);
    }

    .o-bg-primary {
      background-color: var(--colorPrimary);
      color: #fff;
    }

    .info-box{
        cursor:pointer;
    }

    .info-box .collapsed{
        background: white;
        color:var(--colorPrimary);
    }

    .info-box-icon{
        background: var(--colorPrimary);
        color:white;
    }

    .info-box .collapsed .info-box-icon{
        background: var(--colorPrimary);
        color:white;
    }

    .info-box .collapsed .info-box-icon i{
        color:white;
    }

    .info-box:not(.collapsed) .info-box-icon{
        background: var(--colorAccent);
    }


    .info-box.active .info-box-icon{
        background: var(--colorAccent);
    }

    .tab-pane{
        overflow-x: hidden;
    }

  </style>
{% endblock %}
{% block content_title %}
    <div class="row mb-2">
          <div class="col-sm-6">
                <h1 class="m-0">Liste des documents électronique du client</h1>
          </div>
          <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                      <li class="breadcrumb-item">Production</li>
                      <li class="breadcrumb-item active"><a href="{% url 'clients' %}">Clients</a></li>
                      <li class="breadcrumb-item active">Gestion des documments électroniques</li>
                </ol>
          </div>
    </div>
{% endblock %}
{% block content %}

<div class="col-md-12 accordion" id="accordionClient_removed">
  <div class="card offset" style="padding:0px;margin:0px;border:none;">
    <div class="card-header">
      <h3 class="card-title text-white">GESTION ELECTRONIQUE DE DOCUMENTS DU CLIENT</h3>
      <div class="card-tools d-none">
        <a class="btn btn-sm btn-primary mb-1" data-toggle="modal" data-target="#modal-document"><i class="fas fa-plus"></i> {{_("Ajouter un document")}}</a>
        <span style="cursor:pointer;" class="btn btn-sm btn-primary btn_modifier_client" data-client_id="{{ client.id }}" data-model_name="client" data-modal_title="MODIFICATION D'UN CLIENT" data-href="{% url 'modifier_client' client.id %}"><i class="fas fa-edit"></i> {{_("Modifier client")}}</span>&nbsp;
        <!--button-- type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse"><i class="fas fa-minus"></i></button-->
      </div>
    </div>
    <div class="card-body">
      <div class="button-link pull-right mb-2">
          <a class="btn btn-sm btn-primary mb-1" data-toggle="modal" data-target="#modal-document"><i class="fas fa-plus"></i> {{_("Ajouter un document")}}</a>
          <span style="cursor:pointer;" class="btn btn-sm btn-warning btn_modifier_client mb-1" data-client_id="{{ client.id }}" data-model_name="client" data-modal_title="MODIFICATION D'UN CLIENT" data-href="{% url 'modifier_client' client.id %}"><i class="fas fa-edit"></i> {{_("Modifier client")}}</span>&nbsp;
      </div>
      <div class="row table-responsive">
         <table id="table_documents" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info" style="width:100%;">
            <thead>
                <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                        {{_("Nom du document")}}
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                        {{_("Type de document")}}
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                        {{_('Fichier')}}
                    </th>
                    <th width="80px" class="text-center sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                        {{_('Action')}}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                <tr class="odd">
                    <td class="dtr-control" tabindex="0">{{ document.nom }}</td>
                    <td class="">{{ document.type_document.libelle }}</td>
                    <td class="text-center"><a href="{% if document.fichier %} {{ document.fichier.url }} {% endif %}"><i class="fa fa-file" title="Aperçu"></i> {{_('Afficher')}}</a></td>
                    <td class="text-center">
                        <span class="badge badge-danger text-white btn_supprimer_document" data-document_id="{{ document.id }}" onclick="supprimer_document({{ document.id }})" style="cursor:pointer;"><i class="fa fa-trash"></i> </span>&nbsp;&nbsp;&nbsp;
                        <span class="badge badge-warning text-white btn_modifier_on_modal" data-model_name="document" data-href="{% url 'modifier_document' document.id %}" data-modal_title="Modification d'un document" title="Modifier" style="cursor:pointer;"><i class="fas fa-edit"></i></span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
         </table>
      </div>
    </div>
  </div>
</div>

<div id="dialogBox"></div>

{% endblock %}


{% block extrajs %}

<script>
// GESTION TRANSFERT BENEFICIAIRES

  $(document).ready(function() {
      dataTable = $('#datatable_transfert_beneficiaires').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'transfert_beneficiaires_datatable' client.id %}",
                "data": function (data) {
                    console.log(data);
                    data.page = data.start / data.length + 1;
                    data.search_police_origine = $('#search_police_origine').val();
                    data.search_formule_origine = $('#search_formule_origine').val();
                    data.search_police_destination = $('#police_destination').val();
                    data.search_etat_beneficiaire = $('#search_etat_beneficiaire').val();
                },
                "dataSrc": function (json) {
                    return json.data;
                }
            },
            "columns": [
                {"data": "checkbox", "orderable": false, "searchable": false},
                {"data": "aliment__cartes__numero", "orderable": false},
                {"data": "aliment__nom", "orderable": false},
                {"data": "aliment__prenoms", "orderable": false},
                {"data": "aliment__date_naissance", "orderable": false},
                {"data": "aliment__genre", "orderable": false},
                {"data": "aliment__qualite_beneficiaire__libelle", "orderable": false},
                //{"data": "aliment__matricule_cie", "orderable": false},
                {"data": "aliment__adherent_principal__numero_famille", "orderable": false},
                {"data": "aliment__formule__libelle", "orderable": false},
                {"data": "aliment__statut", "orderable": false},
            ],
            "paging": true,
            "pageLength": 50,
            lengthMenu: [[50, 100, 500, 1000, -1], [50, 100, 500, 1000, "Tout"]],
            "processing": true,  // Show the loading indicator
            "searching": true,   // Enable the search feature
        });


        dataTable.on('xhr.dt', function (e, settings, json, xhr) {
            // Hide the spinner when the data is loaded
            $('.spinner-border').hide();
        });

        // Show the spinner when the table is processing
        dataTable.on('processing.dt', function (e, settings, processing) {
            if (processing) {
                $('.spinner-border').show();
            }
        });

        // dataTable.search('').draw();
        // dataTable.draw();

        // Add custom search functionality for code, name, and prenoms columns

        $('#search_police_origine, #search_formule_origine, #search_etat_beneficiaire, #police_destination').on('keyup change', function() {
            dataTable.search('').draw();
            dataTable.draw();
            $('#btnSelectAll').prop('checked', false);
        });

        $('#search_police_origine').on('change', function() {

            police_id = $(this).val();
            $('#search_formule_origine').html('').append('<option value="">Choisir</option>');
            $('#police_destination').html('').append('<option value="">Choisir</option>');

            //charger les formules
            $.ajax({
                type: 'get',
                url: '/production/formules_by_police/' + police_id,
                dataType:'json',
                success: function(formules){

                    formules.forEach(function(formule) {
                        $('#search_formule_origine').append('<option value="'+formule.pk+'">'+formule.fields.libelle+'</option>');
                    });
                },
                error: function(){
                    console.log('Erreur lors du chargement des formules ');
                }
            });

            //charger les formules
            $.ajax({
                type: 'get',
                url: '/production/polices_restantes/' + police_id,
                dataType:'json',
                success: function(polices){

                    polices.forEach(function(police) {
                        $('#police_destination').append('<option value="'+police.pk+'">'+police.fields.numero+'</option>');
                    });
                },
                error: function(){
                    console.log('Erreur lors du chargement des formules ');
                }
            });

        });


        $('#police_destination').on('change', function() {
            police_id = $(this).val();
            $('#formule_destination').html('').append('<option value="">Choisir</option>');

            //charger les formules
            $.ajax({
                type: 'get',
                url: '/production/formules_by_police/' + police_id,
                dataType:'json',
                success: function(formules){

                    formules.forEach(function(formule) {
                        $('#formule_destination').append('<option value="'+formule.pk+'">'+formule.fields.libelle+'</option>');
                    });
                },
                error: function(){
                    console.log('Erreur lors du chargement des formules ');
                }
            });

        });



       // Gérer le "Sélectionner tout"
        $('#btnSelectAll').on('change', function() {
           // Mettre à jour le tableau des éléments sélectionnés
           if (this.checked) {

                $('input[type="checkbox"]', dataTable.rows().nodes()).prop('checked', true);

           } else {

               // Cocher/décocher toutes les cases individuelles
               $('input[type="checkbox"]', dataTable.rows().nodes()).prop('checked', false);
           }

       });

        // Décocher le checkbox btnSelectAll si un des éléments est désélectionné
        $('#datatable_transfert_beneficiaires tbody').on('change', 'input[type="checkbox"]', function () {
            var data = dataTable.row($(this).closest('tr')).data();
            var itemId = data.id;
            console.log('itemId', itemId);

            if (!this.checked) {
                $('#btnSelectAll').prop('checked', false);
            }

        });

        // Transférer les bénéficiaires sélectionnés
        $('#btnTransfererBeneficiaireSelectionnes').on('click', function () {
            let ceBouton = $(this);
            let href = $(this).data('href');
            let police_origine_id = $("#search_police_origine").val();
            let formule_origine_id = $("#search_formule_origine").val();
            let police_destination_id = $("#police_destination").val();
            let formule_destination_id = $("#formule_destination").val();

            var selected_aliment_ids = [];
            var checkedCheckboxes = $('input[type="checkbox"]:checked', dataTable.rows().nodes());

            console.log("Nombre de lignes cochées : ", checkedCheckboxes.length);

            checkedCheckboxes.each(function() {
                selected_aliment_id = $(this).val();
                selected_aliment_ids.push(selected_aliment_id);

                console.log("selected_aliment_id : ", selected_aliment_ids);
            });


            if(checkedCheckboxes.length > 0){

                 $.ajax({
                    type:'post',
                    url:href,
                    data: {
                        police_origine_id: police_origine_id,
                        formule_origine_id: formule_origine_id,
                        police_destination_id: police_destination_id,
                        formule_destination_id: formule_destination_id,
                        selectedItems: JSON.stringify(selected_aliment_ids)
                    },
                    beforeSend:function(){
                         ceBouton.prop('disabled', true);
                         $('#loader').show();
                    },
                    success: function(response){

                        console.log(response);
                        ceBouton.prop('disabled', false);

                        if (response.statut == 1){
                            notifySuccess(response.message);

                            dataTable.search('').draw();
                            dataTable.draw();
                            $('#btnSelectAll').prop('checked', false);

                        }else{
                            notifyWarning(response.message);
                        }

                    },
                    error: function(){
                        notifyWarning("Erreur lors du traitement");
                        ceBouton.prop('disabled', false);
                        $('#loader').hide();
                    }

                });

            }else{
                notifyWarning("Veuillez sélectionner des prestataires");
            }

        });


    var my_noty;//variale global pour pouvoir le fermer de popup de l'extérieur
    function notifySuccess(message, fnCallback){
        my_noty = noty({
                text        : message,
                type        : 'success',
                dismissQueue: true,
                layout      : 'center',
                theme       : 'defaultTheme',
                buttons     : [
                    {addClass: 'btn btn-primary', text: 'OK', onClick: function ($noty) {

                        if (typeof fnCallback === 'function') fnCallback();

                        $noty.close();
                    }
                    }
                ]
            });
    }

    function notifyWarning(message, fnCallback){
          if (my_noty) {
            my_noty.close();
          }

        my_noty = noty({
                text        : message,
                type        : 'warning',
                dismissQueue: true,
                layout      : 'center',
                theme       : 'defaultTheme',
                buttons     : [
                    {addClass: 'btn btn-primary', text: 'OK', onClick: function ($noty) {

                        if (typeof fnCallback === 'function') fnCallback();

                        $noty.close();
                    }
                    }
                ]
            });

    }

    function notifyError(message, fnCallback){
        my_noty = noty({
                text        : message,
                type        : 'error',
                dismissQueue: true,
                layout      : 'center',
                theme       : 'defaultTheme',
                buttons     : [
                    {addClass: 'btn btn-primary', text: 'OK', onClick: function ($noty) {

                        if (typeof fnCallback === 'function') fnCallback();

                        $noty.close();
                    }
                    }
                ]
            });
    }


  });

// FIN GESTION TRANSFERT DE BENEFICIIRES
</script>

{% endblock %}