{% load i18n static jazzmin admin_urls %}
<div class="modal fade" id="modal-transfert_beneficiaires" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <form method="post" action="{% url 'changement_compagnie' client.id %}" id="form_transfert_beneficiaires">
      {% csrf_token %}
      <div class="modal-header">
        <h4 class="modal-title">{{_('TRANSFERT_DE_BENEFICIAIRES_DUNE_POLICE_VERS_UNE_AUTRE')}}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
       <div class="modal-body">
       <div class="alert  alert-dismissible fade show hidden" role="alert">
          <span class="message"> {{_('TRAITEMENT_EN_COURS')}}</span>
        </div>
        <div class="col-12 row">
         <div style="padding:0px 0px 0px 10px;border-bottom:1px solid #eee;padding-bottom:0px;margin-bottom:10px;">
            <div class="row" style="background:#5FB76D69;">
                <div class="col-12 col-md-12 col-sm-12 row">
                    <div class="col-6 col-md-6 row" style="background:#007bff47;padding-bottom:10px;margin-left:0px;">
                        <div class="col-md-6 row">
                            <span class="col-sm-12 text-left" style="margin-top:5px;">{{_('Police_actuelle ')}}<span class="required">*</span>: </span>
                            <div class="col-sm-12">
                                <select class="form-control tags-multiple" id="search_police_origine" name="police_origine" style="border:1px solid rgba(0, 0, 0, 0.3);" autocomplete="off">
                                    <option value="">{{_('Choisir')}}</option>
                                    {% for police in polices %}
                                        <option  value="{{police.id}}">{{ police.numero }} - {{ police.etat_police }} ({{ police.date_debut_effet|date:"d/m/Y" }} à {{ police.date_fin_effet|date:"d/m/Y" }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <span class="col-sm-12 text-left" style="margin-top:5px;">{{_('Formule_actuelle')}}: </span>
                            <div class="col-sm-12">
                                <select class="form-control tags-multiple" id="search_formule_origine" name="search_formule_origine" style="border:1px solid rgba(0, 0, 0, 0.3);" autocomplete="off">
                                    <option value="">{{_('Choisir')}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 row" style="display:none;">
                            <span class="col-sm-12 text-left" style="margin-top:5px;">{{_('Etat_beneficiaire')}}: </span>
                            <div class="col-sm-12">
                                <select class="form-control tags-multiple" id="search_statut" name="search_statut" style="border:1px solid rgba(0, 0, 0, 0.3);" autocomplete="off">
                                    <option value="">{{_('Choisir')}}</option>
                                    <option value="ACTIF">{{_('ACTIF')}}</option>
                                    <option value="SORTI">{{_('SORTI')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-6 row" style="padding-bottom:10px;margin-left:0px;">
                        <div class="col-md-5 row">
                            <span class="col-sm-12 text-left" style="margin-top:5px;">{{_('Nouvelle_Police')}}<span class="required">*</span>: </span>
                            <div class="col-sm-12">
                                <select class="form-control tags-multiple" id="police_destination" name="police_destination" style="border:1px solid rgba(0, 0, 0, 0.3);" required autocomplete="off">
                                    <option value="">{{_('Choisir')}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-5 row">
                            <span class="col-sm-12 text-left" style="margin-top:5px;">{{_('Nouvelle_formule')}}<span class="required">*</span>: </span>
                            <div class="col-sm-12">
                                <select class="form-control tags-multiple" id="formule_destination" name="formule_destination" style="border:1px solid rgba(0, 0, 0, 0.3);" required autocomplete="off">
                                    <option value="">{{_('Choisir')}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2 row">
                            <span class="col-sm-12 text-left" style="margin-top:5px;">&nbsp;</span>
                            <div class="col-sm-12 text-right">
                                <button type="button" id="btnTransfererBeneficiaireSelectionnes" data-href="{% url 'transfert_beneficiaires' client.id %}" class="btn o-bg-primary">Transférer</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
          </div>
            <div class="col-md-12">
                <h5 style="border-bottom:1px solid #eee;">{{_('Liste_des_beneficiaires_actifs')}}</h5>
                <table class="table table-bordered table-striped customDataTable dtr-inline" id="datatable_transfert_beneficiaires" style="width:100%">
                  <thead>
                    <tr>
                      <th scope="col"><input type="checkbox" id="btnSelectAll" autocomplete="off"/></th>
                      <th scope="col">{{_('Numero_carte')}}</th>
                      <th scope="col">{{_('Nom')}}</th>
                      <th scope="col">{{_('Prenoms')}}</th>
                      <th scope="col">{{_('Date_Naiss')}}</th>
                      <th scope="col">{{_('Sexe')}}</th>
                      <th scope="col">{{_('Qualite')}}</th>
                      <th scope="col">{{_('Numero_Famille')}}</th>
                      <th scope="col">{{_('Formule')}}</th>
                      <th scope="col">{{_('Etat')}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
            </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Retour')}}</button>
        <span id="loading_gif" style="display:none;color:#BB4127;">{{_('Traitement en cours')}}... <img src="{% static 'admin_custom/ripple-loader.svg' %}" style="width:50px;"></span>
        <!--button type="button" id="btn_valider_transfert_beneficiaires" class="btn o-bg-primary">Transférer</button-->
      </div>

      </form>
    </div>
  </div>
</div>