{% extends "admin/base_site.html" %}
{% block extrastyle %} {% endblock %}
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">
  <div class="card">
    <div class="card-header">
        <h3 class="card-title"><b>LISTE DES ACTES</b></h3>
        <div class="card-tools">
            <a class="btn btn-sm btn-default" data-toggle="modal"  data-target="#modal-acte"><i class="fas fa-plus"></i> Créer un acte</a>
        </div>
    </div>

  <div style="display:none__;background:#CCCCCC;padding:10px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;">
    <form method="get"><label style="font-weight:normal;font-size:12px;display:none;"><i>Formulaire de recherche</i></label>
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12 row">
                <div class="col-md-4 row">
                    <span class="col-sm-4 text-right" style="margin-top:5px;">Code : </span>
                    <div class="col-sm-8">
                        <input id="search_code" class="form-control" type="text" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                    </div>
                </div>
                <div class="col-md-4 row">
                    <span class="col-sm-4 text-right" style="margin-top:5px;">Libellé : </span>
                    <div class="col-sm-8">
                        <input id="search_libelle" class="form-control" type="text" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                    </div>
                </div>
                <div class="col-md-4 row">
                    <span class="col-sm-4 text-right" style="margin-top:5px;">Rubrique : </span>
                    <div class="col-sm-8">
                        <select class="form-control tags-multiple" id="search_rubrique" style="border:1px solid rgba(0, 0, 0, 0.3);">
                            <option  value="">Choisir</option>
                            {% for rubrique in rubriques %}
                                <option  value="{{rubrique.id}}">{{rubrique}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
  </div>

    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
              <div class="spinner-border__" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;"></div>

              <table class="table table-bordered table-striped dataTable customDataTable dtr-inline" id="table_actes">
                  <thead>
                    <tr>
                      <th scope="col">Code</th>
                      <th scope="col">Libellé</th>
                      <th scope="col">Type</th>
                      <th scope="col">Rubrique</th>
                      <th scope="col">Regroupement</th>
                      <th scope="col">Lettre clé</th>
                      <th scope="col">Base calcul TM</th>
                      <!--th scope="col">Delais carence</th-->
                      <th scope="col">Delais contrôle</th>
                      <th scope="col">Avec séances</th>
                      <th scope="col">Spécialiste uniquement</th>
                      <th scope="col">Accord automatique</th>
                      <th scope="col">Statut</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function() {

        dataTable = $('#table_actes').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'actes_datatable' %}",
                "data": function (data) {
                    data.page = data.start / data.length + 1;
                    data.search_code = $('#search_code').val();
                    data.search_libelle = $('#search_libelle').val();
                    data.search_rubrique = $('#search_rubrique').val();
                },
                "dataSrc": function (json) {
                    return json.data;
                }
            },
            "columns": [
                {"data": "code", "orderable": true},
                {"data": "libelle", "orderable": true},
                {"data": "type", "orderable": true},
                {"data": "rubrique", "orderable": true},
                {"data": "regroupement", "orderable": true},
                {"data": "lettre_cle", "orderable": true},
                {"data": "base_calcul_tm", "orderable": true},
                //{"data": "delais_carence", "orderable": true},
                {"data": "delais_controle", "orderable": true},
                //  {"data": "accord_automatique", "orderable": true},
                //  {"data": "option_seance", "orderable": true},
                //  {"data": "specialiste_uniquement", "orderable": true},
                //  {"data": "status", "orderable": true, "searchable": false},
                {
                    "data": "option_seance",
                    "render": function (data, type, row) {
                        return data ? 'OUI' : 'NON';
                    },
                    "orderable": true,
                    "searchable": false
                },
                {
                    "data": "specialiste_uniquement",
                    "render": function (data, type, row) {
                        return data ? 'OUI' : 'NON';
                    },
                    "orderable": true,
                    "searchable": false
                },
                {
                    "data": "accord_automatique",
                    "render": function (data, type, row) {
                        return data ? 'OUI' : 'NON';
                    },
                    "orderable": true,
                    "searchable": false
                },
                {
                    "data": "status",
                    "render": function (data, type, row) {
                        return data ? '<span class="badge badge-actif">ACTIF</span>' : '<span class="badge badge-inactif">INACTIF</span>';
                    },
                    "orderable": true,
                    "searchable": false
                },
                {"data": "actions", "orderable": false, "searchable": false},
            ],
            "paging": true,
            "pageLength": 10,
            "processing": false,
            "searching": false,
            "search": {
                "search": $('#table_actes-table_filter input').val()
            }
        });

         dataTable.on('xhr.dt', function (e, settings, json, xhr) {
            // Hide the spinner when the data is loaded
            $('.spinner-border').hide();
         });

        // Show the spinner when the table is processing
        dataTable.on('processing.dt', function (e, settings, processing) {
            if (processing) {
                $('.spinner-border').show();
            }
        });

        // Add custom search functionality for code and name columns
        $('#search_code, #search_libelle, #search_rubrique').on('keyup change', function() {
            dataTable.search('').draw();
            dataTable.draw();
        });

    });

</script>

{% comment %} {% include './modal_add_acte.html' %} {% endcomment %}

{% endblock %}
