
<div class="modal modal-details_acte fade" id="modal-details_acte" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display:none;">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <form enctype="multipart/form-data" id="form_details_acte" action="" method="post">
            {% csrf_token %}

                <div class="modal-header">
                    <h4 class="modal-title">DÉTAILS D'UN ACTE</h4>
                    <button type="button" class="close"data-dismiss="modal"aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert  alert-dismissible fade show hidden" role="alert">
                      <span class="message">TRAITEMENT EN COURS</span>
                    </div>
                    <div class="col-md-12 offset-0">
                        <div class="row">

                            <div class="col-md-6">

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Code</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ acte.code }}</span>
                                </div>
                            </div>

                            </div>

                            <div class="vl"></div>

                            <div class="col-md-5" style="border-left:0px;">

                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Libelle</label>
                                    <div class="col-sm-7">
                                        <span class="form-control">{{ acte.libelle }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
