{% extends 'layouts/admin_error_base.html'%}
{% load static %}
{% block 'title' %}<title>403 | OLEA Digital</title>{% endblock 'title' %}
{% block 'content' %}


<!-- ################################################# CONTENT ################################################## -->

<section class="container">
    <br>
    <br>
    <br>
        <p class="assur1">403</p>
      <h1 class="ass">Forbidden</h1>
    <p>Désolé votre niveau d'accès ne vous autorise pas a accédé a cette page.</p>
<!--    <div class="col-sm-3">-->
<!--      <a href="{% url 'admin:index' %}" class="button-ok" role="button" style="margin-top: 16px;text-decoration: none;-->
<!--    text-align: center;-->
<!--    padding: 10px;width: auto;-->
<!--    height: auto;">Retour au Tableau de Bord-->
<!--      </a>-->
<!--    </div>-->

</section>


{% endblock 'content' %}