<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div style="font-family: Arial, sans-serif; line-height: 1.6; margin: 20px;">
        <h1 style="text-align: center;">FBFR Courtage</h1>
        <p>Abidjan le {date_ajout}</p>
        <p><strong>A L'ATTENTION DE :</strong> {nom_client}</p>
        <p><strong>Objet :</strong> Transmission </p>
        <p>Madame, Monsieur,</p>
        <p>
            Nous avons l'honneur de vous informer que votre police rappelée en objet arrive à expiration le {date_echeance}.
        </p>
        <p>
            Aussi, la prime à payer pour le renouvellement de la police est de {montant} F CFA.
        </p>
        <p>
            Dans l'attente de vos ordres, recevez, Madame, Monsieur, nos salutations distinguées.
        </p>
        <p style="text-align: right;">La Responsable Production</p>
    </div>
</body>
</html>
