<div  class="modal fade"  id="modal_add_prescripteur" data-backdrop="static" data-keyboard="false" aria-hidden="true"  style="display: none">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<form enctype="multipart/form-data" id="form_add_prescripteur" action="{% url 'add_prescripteur' %}" method="post">
			{% csrf_token %}
            <input type="hidden" class="notreset" name="prestataire_id" value="{{prestataire.id}}" />
			<div class="modal-header">
				<h4 class="modal-title">{{_('AJOUTER_UN_PRESCRIPTEUR')}}</h4>
				<button type="button" class="close"data-dismiss="modal"aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert  alert-dismissible fade show hidden" role="alert">
				  <span class="message">{{_('TRAITEMENT_EN_COURS')}}</span>
				</div>
				<div class="col-md-12 offset-0">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Nom')}} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="nom"  required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Prenoms')}} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="prenoms" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Telephone')}} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="telephone" required/>
                                </div>
                            </div>

                        </div>
                        <div class="vl"></div>
                        <div class="col-md-5" style="border-left:0px;">

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Numero_de_ordre')}}<span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="numero_ordre" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Specialite')}} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="specialite_id" required>
                                        {% for specialitie in specialities %}
                                            <option  value="{{specialitie.id}}">{{specialitie.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{_('Retour')}}</button>
					<button type="button" id="btn_save_prescripteur" class="btn o-bg-primary">{{_('Valider')}}</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
