<div  class="modal fade"  id="modifier_modal_prestataire" data-backdrop="static" data-keyboard="false" aria-hidden="true"  style="display: none">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<form enctype="multipart/form-data" id="form_update_prestataire" action="{% url 'update_prestataire' prestataire.id %}" method="post">
			{% csrf_token %}
            <input type="hidden" name="prestataire_id" value="{{prestataire.id}}" />
			<div class="modal-header">
				<h4 class="modal-title">{{_('MODIFICATION_DU_PRESTATAIRE')}} - <b>{{prestataire.name}}</b></h4>
				<button type="button" class="close"data-dismiss="modal"aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert  alert-dismissible fade show hidden" role="alert">
				  <span class="message">{{_('TRAITEMENT_EN_COURS')}}</span>
				</div>
				<div class="col-md-12 offset-0">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Nom')}} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="name" value="{{prestataire.name|default_if_none:''}}" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Remboursement_a_l_ordre_de')}} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="rb_ordre" value="{{prestataire.rb_ordre|default_if_none:''}}" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Type_prestataire')}}<span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="type_prestataire_id" required>
                                        <option  value="">{{_('Choisir')}}</option>
                                        {% for type_prestataire in types_prestataires %}
                                            <option  value="{{type_prestataire.id}}" {% if prestataire.type_prestataire_id == type_prestataire.id %} selected {% endif %}>{{type_prestataire.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Secteur')}} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="secteur_id" id="secteur_id" required>
                                        <option  value="">{{_('Choisir')}}</option>
                                        {% for secteur in secteurs %}
                                            <option value="{{secteur.id}}" data-secteur_code="{{secteur.code}}"{% if prestataire.secteur_id == secteur.id %} selected {% endif%}>{{secteur.libelle}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row" id="box_type_etablissement" {% if prestataire.secteur and prestataire.secteur.code == 'PRIVE' %}style="display:none;"{% endif %}>
                                <label class="col-sm-5 col-form-label">{{_('Type_de_etablissement')}} <span class="required"></span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="type_etablissement_id" id="type_etablissement_id">
                                        <option  value="">{{_('Choisir')}}</option>
                                        {% for type_etablissement in types_etablissements %}
                                            <option  value="{{type_etablissement.id}}" {% if prestataire.type_etablissement_id == type_etablissement.id %} selected {% endif%}>{{type_etablissement.libelle}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!--div class="form-group row">
                                <label class="col-sm-5 col-form-label">Code <span class="required"></span></label>
                                <div class="col-sm-7">
                                    <span class="form-control" readonly>{{prestataire.code|default_if_none:''}}</span>
                                </div>
                            </div-->

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Logo')}} <span class="required"></span></label>
                                <div class="col-sm-7">
                                    <input type="file" class="form-control" name="logo"/>
                                </div>
                            </div>

                        </div>
                        <div class="vl"></div>
                        <div class="col-md-5" style="border-left:0px;">

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Ville')}} <span class="required"></span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="ville" value="{{prestataire.ville|default_if_none:''}}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Adresse')}} <span class="required"></span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="addresse" value="{{prestataire.addresse|default_if_none:''}}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Telephone')}} <span class="required"></span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="telephone" value="{{prestataire.telephone|default_if_none:''}}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Email')}} <span class="required"></span></label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" name="email" value="{{prestataire.email|default_if_none:''}}"/>
                                </div>
                            </div>
                            <!--div class="form-group row">
                                <label class="col-sm-5 col-form-label">Réseaux de soins <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control tags-multiple" multiple name="reseaux_soins_ids" id="reseaux_soins_ids_modification" required>
                                        {% for reseau in reseaux_soins %}
                                            <option value="{{reseau.id}}">{{reseau.nom}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div-->
                            <!--div class="form-group row">
                                <label class="col-sm-5 col-form-label">Fax <span class="required"></span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="fax" value="{{prestataire.fax|default_if_none:''}}"/>
                                </div>
                            </div-->

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Latitude')}} <span class="required"></span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="latitude" value="{{prestataire.latitude|default_if_none:''}}"/>
                                </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Longitude')}} <span class="required"></span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="longitude" value="{{prestataire.longitude|default_if_none:''}}"/>
                                </div>
                            </div>

                        </div>
                    </div>

				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{_('Retour')}}</button>
					<button type="button" id="btn_update_prestataire" class="btn o-bg-primary">{{_('Valider')}}</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
