{% extends "admin/base_site.html" %}
{% load static %}
{% block extrastyle %} {% endblock %}
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">
  <div class="card">
    <div class="card-header">
        <h3 class="card-title"><b>{{_('LISTE_DES_PRESTATAIRES') }}</b></h3>
        <div class="card-tools">
            <a class="btn btn-sm btn-default" data-toggle="modal"  data-target="#add_modal_prestataire">
                <i class="fas fa-plus"></i> {{ _('Nouveau prestataire ') }}
            </a>
            <span class="btn btn-sm btn-default" id="export_prestaitaires" title="Exporter la liste vers Excel" >
                <i class="fa fa-file-excel"></i> Exporter vers Excel
            </span>
            <a class="btn btn-sm btn-default" id="loader-btn_export_prestaitaires" style="width: 40px; display: none;">
                <img src="{% static 'admin_custom/img/loader.gif' %}" style="width: 20px;"/>
            </a>
        </div>
    </div>

  <div style="display:none__;background:#CCCCCC;padding:10px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;">
    <form id="form_recherche_prestaitaires" method="get"><label style="font-weight:normal;font-size:12px;display:none;"><i>{{ _('Formulaire de recherche') }}</i></label>
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12 row">
                <div class="col-md-3 row">
                    <span class="col-sm-12 text-left" style="margin-top:5px;font-weight:bold;">{{_('Formulaire_de_recherche') }}</span>
                </div>
                <div class="col-md-3 row">
                    <span class="col-sm-6 text-right" style="margin-top:5px;">{{_('Code') }} : </span>
                    <div class="col-sm-6">
                        <input id="search_code" class="form-control" type="text" name="code" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                    </div>
                </div>
                <div class="col-md-3 row">
                    <span class="col-sm-3 text-right" style="margin-top:5px;">{{_('Name') }} : </span>
                    <div class="col-sm-9">
                        <input id="search_nom" class="form-control" type="text" name="nom" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                    </div>
                </div>
                <div class="col-md-3 row">
                    <span class="col-sm-6 text-right" style="margin-top:5px;">{{_('Type') }} : </span>
                    <div class="col-sm-6">
                        <select class="form-control tags-multiple" id="search_type" name="search_type" style="border:1px solid rgba(0, 0, 0, 0.3);">
                            <option  value="">{{_('Choisir') }}</option>
                            {% for types_prestataire in types_prestataires %}
                                <option  value="{{types_prestataire.id}}">{{types_prestataire}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!--div class="col-md-3 row">
                    <div class="col-sm-7 text-right">
                        <button type="submit" class="btn btn-complement-rouge">{{ _('Rechercher') }}</button>
                    </div>
                    <div class="col-sm-5 text-right" style="padding-left:0px;">
                        <a href="/configurations/prestataire" class="btn btn-secondary" title="Vider le formulaire de recherche">Rafraichir</a>
                    </div>
                </div-->
            </div>
        </div>
    </form>
  </div>

    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
              <div class="spinner-border__" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;"></div>

              <table class="table table-bordered table-striped dataTable customDataTable dtr-inline" id="table_prestataires">
                  <thead>
                    <tr>
                      <th scope="col">{{_('Code') }}</th>
                      <th scope="col">{{_('Nom') }}</th>
                      <th scope="col">{{_('Type') }}</th>
                      <th scope="col">{{_('Secteur') }}</th>
                      <th scope="col">{{_('Ville') }}</th>
                      <th scope="col">{{_('Telephone') }}</th>
                      <th scope="col">{{_('Statut') }}</th>
                      <!--th scope="col">Fichier tarif</th-->
                      <th>{{_('Actions')}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}


{% block extrajs %}
<script>
    $(document).ready(function() {

        dataTable = $('#table_prestataires').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'prestataires_datatable' %}",
                "data": function (data) {
                    data.page = data.start / data.length + 1;
                    data.search_code = $('#search_code').val();
                    data.search_nom = $('#search_nom').val();
                    data.search_type = $('#search_type').val();
                },
                "dataSrc": function (json) {
                    return json.data;
                }
            },
            "columns": [
                {"data": "code", "orderable": true},
                {"data": "name", "orderable": true},
                {"data": "type_prestataire", "orderable": true},
                {"data": "secteur", "orderable": true},
                {"data": "ville", "orderable": true},
                {"data": "telephone", "orderable": true},
                {"data": "statut", "orderable": true},
                {"data": "actions", "orderable": false, "searchable": false},
            ],
            "paging": true,
            "pageLength": 10,
            "processing": false,  // Show the loading indicator
            "searching": false,   // Enable the search feature
            "search": {
                "search": $('#table_prestataires-table_filter input').val()
            }
        });

         dataTable.on('xhr.dt', function (e, settings, json, xhr) {
            // Hide the spinner when the data is loaded
            $('.spinner-border').hide();
         });

        // Show the spinner when the table is processing
        dataTable.on('processing.dt', function (e, settings, processing) {
            if (processing) {
                $('.spinner-border').show();
            }
        });

        //Exporter vers excel
        $(document).on('click', '#export_prestaitaires', function () {
            // Show the loader
            $('#export_prestaitaires').hide();
            $('#loader-btn_export_prestaitaires').show();

            $.ajax({
                url: "{% url 'export_prestaitaires' %}",
                type: 'POST',
                data: $('#form_recherche_prestaitaires').serialize(),
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data, status, xhr) {
                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var matches = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/.exec(disposition);
                        if (matches != null && matches[1]) {
                            filename = matches[1].replace(/['"]/g, '');
                        }
                    }
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(data);
                    link.download = filename;
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);

                    // Hide the loader and show the button again
                    $('#loader-btn_export_prestaitaires').hide();
                    $('#export_prestaitaires').show();
                },
                error: function (xhr, status, error) {
                    alert('An error occurred while exporting the file');
                    // Hide the loader and show the button again
                    $('#loader-btn_export_prestaitaires').hide();
                    $('#export_prestaitaires').show();
                }
            });
        });


        // Add custom search functionality for code and name columns
        $('#search_code, #search_nom, #search_type').on('keyup change', function() {
            dataTable.search('').draw(); // Clear existing search
            dataTable.draw(); // Trigger a new draw, which will include the updated search parameters
        });

    });

</script>

{% include './modal_add_prestataire.html' %}
{% include './modal_add_prescripteur.html' %}

{% endblock %}
