{% extends 'admin/base.html' %}
{% load my_filters %}
{% block extrastyle %}
  <style type="text/css">
    .vl {
       border-left: 2px solid var(--colorPrimary);
       height: auto;
    }
    .o-primary {
      color: var(--colorPrimary);
    }

    .o-bg-primary {
      background-color: var(--colorPrimary);
      color: #fff;
    }

    .info-box{
        cursor:pointer;
    }

    .info-box .collapsed{
        background: white;
        color:var(--colorPrimary);
    }

    .info-box-icon{
        background: var(--colorPrimary);
        color:white;
    }

    .info-box .collapsed .info-box-icon{
        background: var(--colorPrimary);
        color:white;
    }

    .info-box .collapsed .info-box-icon i{
        color:white;
    }

    .info-box:not(.collapsed) .info-box-icon{
        background: var(--colorAccent);
    }


    .info-box.active .info-box-icon{
        background: var(--colorAccent);
    }

    .tab-pane{
        overflow-x: hidden;
    }


  </style>
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="col-md-12" class="accordion" id="accordionClient">
  <div class="card offset">
    <div class="card-header nobg">
      <h3 class="card-title text-white">
          <span class="back_icon">
            {% if request.META.HTTP_REFERER %}
            <a href="{{ request.META.HTTP_REFERER }}" class="badge btn-sm btn-default btn-retour" style="color:black;font-weight:normal;" title="Retour à la liste des prises en charges"><i class="fas fa-arrow-left"></i> {{_('Retour')}}</a>
            {% endif %}
          </span>
          <span class="the_title" style="margin-left:10px;font-weight:bold;">
           {{_('FICHE_PRESTATAIRE')}}
          </span>
      </h3>
      <div class="card-tools">
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="collapse"
          title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        
      </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-12 order-2 order-md-1">
            <div class="callout">
                <h5>{{_('PRESTATAIRE')}}</h5>
                <div class="row invoice-info">
                <div class="col-sm-3 invoice-col">
                    <strong>{{_('Nom')}}</strong><br />
                    <span class="">{{prestataire.name|default_if_none:""}}</span>
                </div>

                <div class="col-sm-2 invoice-col">
                    <b>{{_('Code')}}</b><br />
                    <span class="">{{prestataire.code|default_if_none:""}}</span>
                </div>

                <div class="col-sm-3 invoice-col">
                    <strong>{{_('Type')}}</strong><br />
                    <span class="">{{prestataire.type_prestataire|default_if_none:""}}</span>
                </div>

                <div class="col-sm-2 invoice-col">
                    <b>{{_('Secteur')}}</b><br />
                    <span class="">{{prestataire.secteur|default_if_none:""}}</span>
                </div>
                <div class="col-sm-1 invoice-col row">
                    <b>{{_('Statut')}}</b><br />
                    {% comment %} <span class="col-8">{% if prestataire.status %}<!--i class="fas fa-check-circle text-success" title="ACTIF"></i--><span class="badge badge-success">ACTIF</span>{% else %}<!--i class="fas fa-times-circle text-danger" title="INACTIF"></i--><span class="badge badge-danger">INACTIF</span>{% endif %}</span> {% endcomment %}
                    <span class=""><input type="checkbox" id="input-status-prest" {% if prestataire.status %} checked {% endif %} data-toggle="toggle" data-on="ACTIF" data-off="INACTIF" data-onstyle="success" data-offstyle="danger" data-size="xs"></span>
                    <div class="spinner-border d-none" id="loading-status-prest" role="status">
                        <span class="sr-only">{{_('Chargement')}}...</span>
                    </div>
                </div>

                </div>
            </div>


            <div class="row">


                <div class="col-12 col-sm-3 col-md-3">

                    <div class="info-box collapsed active" data-toggle="collapse0" id="btnListPrescripteurs" href="#collapseListPrescripteurs" aria-expanded="true">
                        <span class="info-box-icon text-white elevation-1"><i class="fas fa-users"></i></span></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{_('PRESCRIPTEURS')}}</span>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-sm-3 col-md-3">

                    <div class="info-box collapsed" data-toggle="collapse0" id="btnListUtilisateurs" href="#collapseListUtilisateurs" aria-expanded="true">
                        <span class="info-box-icon text-white elevation-1"><i class="fas fa-lock"></i></span></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{_('COMPTES')}}<br/> {{_('UTILISATEURS')}}</span>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-sm-3 col-md-3">

                    <div class="info-box collapsed" data-toggle="collapse0" href="#collapseListeReseauxSoins" aria-expanded="true">
                        <span class="info-box-icon text-white elevation-1"><i class="fas fa-globe"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{_('RESEAUX_DE_SOINS')}} </span>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-sm-3 col-md-3">

                    <div class="info-box collapsed" data-toggle="collapse0" href="#collapseTarifsPrestataireClients" aria-expanded="true">
                        <span class="info-box-icon text-white elevation-1">{% if prestataire.has_tarif_prestataire %}<i class="fas fa-check text-succes"></i>{% else %}<i class="fas fa-upload"></i>{% endif %}</span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{_('TARIF')}}<br>{{_('DU_PRESTATAIRE')}} </span>
                        </div>
                    </div>

                </div>

                <div class="clearfix hidden-md-up"></div>


            </div>



            <!-- INFORMATIONS PRESTATAIRES  -->
            <div class="row collapse show" id="collapseListPrescripteurs">
                <div class="col-12 col-sm-6 col-md-12">
                    <h4></h4>
                    <div class="card shadow_OLD">
                        <div class="card-header" style="background-color: var(--couleur_olea)">
                            <h3 class="card-title text-white">{{_('LISTE_DES_PRESCRIPTEURS')}}</h3>
                            <div class="card-tools">
                                {% if prestataire.status %}
                                <a class="btn btn-sm btn-default" data-toggle="modal"  data-target="#modal_add_prescripteur"><i class="fas fa-plus"></i> {{_('Nouveau_prescripteur')}}</a>
                                <a class="btn btn-sm btn-default" data-toggle="modal"  data-target="#modal_importation_prescripteur"><i class="fas fa-plus"></i> {{_('Importation_des_prescripteurs')}}</a>
                                {% endif %}
                            </div>
                        </div>

                        <div style="display:none__;background:#CCCCCC;padding:10px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;">
                            <form method="get" id="searchForm"><label style="font-weight:normal;font-size:12px;display:none;"><i>{{_('Formulaire_de_recherche')}}</i></label>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-sm-12 row">
                                        <!--
                                        <div class="col-md-4 row">
                                            <span class="col-sm-7 text-right" style="margin-top:5px;">Nom : </span>
                                            <div class="col-sm-5">
                                                <input id="search_nom" class="form-control" type="text" name="nom" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                                            </div>
                                        </div>
                                        -->
                                        <div class="col-md-4 row">
                                            <span class="col-sm-3 text-right" style="margin-top:5px;">{{_('Numero_ordre')}} : </span>
                                            <div class="col-sm-9">
                                                <input id="search_numero_ordre" class="form-control" type="text" name="numero_ordre" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                                            </div>
                                        </div>
                                        <div class="col-md-4 row">
                                            <span class="col-sm-3 text-right" style="margin-top:5px;">{{_('Specialite')}} : </span>
                                            <div class="col-sm-9">
                                                <select class="form-control tags-multiple" id="search_specialite" name="specialite_id" style="border:1px solid rgba(0, 0, 0, 0.3);">
                                                    <option  value="">{{_('Choisir')}}</option>
                                                    {% for specialite in specialities %}
                                                        <option  value="{{specialite.id}}">{{specialite.name|upper}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="card-body">
                            <table class="table table-bordered table-striped dataTable customDataTable dtr-inline" id="table_prescripteurs_prestataire">
                                <thead>
                                    <tr>
                                        <th scope="col">{{_('Nom')}}</th>
                                        <th scope="col">{{_('Prenoms')}}</th>
                                        <th scope="col">{{_('Numero_ordre')}}</th>
                                        <th scope="col">{{_('Telephone')}}</th>
                                        <th scope="col">{{_('Specialite')}}</th>
                                        <th>{{_('Actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- INFORMATIONS PRESTATAIRES  -->
            <div class="row collapse" id="collapseTarifsPrestataireClients">
                <div class="col-12 col-sm-6 col-md-12">
                    <h4></h4>
                    <div class="card shadow_OLD">
                        <div class="card-header" style="background-color: var(--couleur_olea)">
                            <!--h3 class="card-title text-white">LISTE DES TARIFS SPECIFIQUES AVEC DES CLIENTS</h3-->
                            <h3 class="card-title text-white">{{_('LISTE_DES_TARIFS')}}</h3>
                            <div class="card-tools">
                                {% if prestataire.status %}
                                <a href="{% url 'generate_modele_tarifs_excel' prestataire.id %}" class="btn btn-sm btn-default">{{_('Telecharger_le_modele_de_tarif')}}</a>
                                <a class="btn btn-sm btn-default" data-toggle="modal"  data-target="#modal_tarif_prestataire"><i class="fas fa-plus"></i>{{_('Importer_le_fichier_tarif_du_prestataire')}}</a>
                                {% endif %}
                            </div>
                        </div>

                        <!--div class="card-body">
                            <table class="table  table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>Nom du prestataire</th>
                                        <th>Nom du client</th>
                                        <th>Fichier tarif</th>
                                        <th>Date création</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tarif in tarifs_prestataire_clients %}
                                        <tr>
                                            <td>{{tarif.prestataire|default_if_none:''}}</td>
                                            <td>{{tarif.client|default_if_none:''}}</td>
                                            <td>{{tarif.fichier_tarifs|default_if_none:''}}</td>
                                            <td>{{tarif.created_at|date:'d/m/Y à H:i'|default_if_none:''}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div-->

                      <div style="display:none__;background:#CCCCCC;padding:10px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;">
                        <form method="get"><label style="font-weight:normal;font-size:12px;display:none;"><i>{{_('Formulaire_de_recherche')}}</i></label>
                            <div class="row">
                                <div class="col-12 col-md-12 col-sm-12 row">
                                    <div class="col-md-4 row">
                                        <span class="col-sm-4 text-right" style="margin-top:5px;">{{_('Rubrique')}} : </span>
                                        <div class="col-sm-8">
                                            <select class="form-control tags-multiple" id="search_rubrique" style="border:1px solid rgba(0, 0, 0, 0.3);">
                                                <option  value="">{{_('Choisir')}}</option>
                                                {% for rubrique in rubriques %}
                                                    <option  value="{{rubrique.id}}">{{rubrique}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 row">
                                        <span class="col-sm-4 text-right" style="margin-top:5px;">{{_('Code_acte')}}: </span>
                                        <div class="col-sm-8">
                                            <input id="search_code" class="form-control" type="text" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                                        </div>
                                    </div>
                                    <div class="col-md-4 row">
                                        <span class="col-sm-4 text-right" style="margin-top:5px;">{{_('Libelle_acte ')}}: </span>
                                        <div class="col-sm-8">
                                            <input id="search_libelle" class="form-control" type="text" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                      </div>

                      <table class="table table-bordered table-striped dataTable customDataTable dtr-inline" id="table_tarifs_prestataire">
                          <thead>
                            <tr>
                              <th scope="col">{{_('Code_acte')}}</th>
                              <th scope="col">{{_('Libelle_acte')}}</th>
                              <th scope="col">{{_('Rubrique')}}</th>
                              <th scope="col">{{_('Regroupement')}}</th>
                              <th scope="col">{{_('Lettre_cle')}}</th>
                              <!--th scope="col">Coût classique</th>
                              <th scope="col">Coût mutuelle</th>
                              <th scope="col">Coût HG</th>
                              <th scope="col">Coût CHU</th>
                              <th scope="col">Coût ICA</th-->
                              <th scope="col">{{_('Coef')}}</th>
                              <th scope="col">{{_('PU')}}</th>
                              <th scope="col">{{_('Cout')}}</th>
                              <!--th scope="col">Statut</th-->
                              <th>{{_('Actions')}}</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                      </table>


                    </div>
                </div>



            </div>

            <!-- INFORMATIONS UTILISATEURS  -->
            <div class="row collapse" id="collapseListUtilisateurs">
                <div class="col-12 col-sm-6 col-md-12">
                    <h4></h4>
                    <div class="card shadow_OLD">
                        <div class="card-header" style="background-color: var(--couleur_olea)">
                            <h3 class="card-title text-white">{{_('LISTE_DES_COMPTES_UTILISATEURS')}}</h3>
                            <div class="card-tools">
                            </div>
                        </div>

                        <div class="card-body">
                            <table class="table  table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>{{_('Nom')}}</th>
                                        <th>{{_('Prénoms')}}</th>
                                        <th>{{_('Login')}}</th>
                                        <th>{{_('Statut')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in utilisateurs %}
                                        <tr>
                                            <td>{{user.last_name|default_if_none:''}}</td>
                                            <td>{{user.first_name|default_if_none:''}}</td>
                                            <td>{{user.username|default_if_none:''}}</td>
                                            <td>{% if user.is_active %} {{_('ACTIF')}} {% else %} {{_('INACTIF')}} {% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- INFORMATIONS UTILISATEURS  -->
            <div class="row collapse" id="collapseListeReseauxSoins">
                <div class="col-12 col-sm-6 col-md-12">
                    <h4></h4>
                    <div class="card shadow_OLD">
                        <div class="card-header" style="background-color: var(--couleur_olea)">
                            <h3 class="card-title text-white">{{_('LISTE_DES_RESEAUX_DE_SOINS')}}</h3>
                            <div class="card-tools">
                                {% if prestataire.status %}
                                <a class="btn btn-sm btn-default" data-toggle="modal"  data-target="#modal_add_reseau_soin_prestataire"><i class="fas fa-plus"></i>{{_('Lier_le_prestataire_a_des_reseaux_de_soins')}}</a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="card-body">
                            <table class="table  table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>{{_('Nom_du_reseau_de_soin')}}</th>
                                        <th>{{_('Date_ajout')}}</th>
                                        <th>{{_('Actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for prs in reseaux_soins_prestataire %}
                                        <tr>
                                            <td><a href="{% url 'detail_reseau_soin' prs.reseau_soin_id %}" target="_blank">{{prs.reseau_soin.nom|default_if_none:''}}</a></td>
                                            <td>{{prs.date_integration|date:'d/m/Y H:i:s'}}</td>
                                            <td><span style="cursor:pointer;" class="btn_retirer_reseau_soin_prestataire badge btn-sm btn-danger rounded-pill" data-href="{% url 'retirer_reseau_soin_prestataire' prs.pk %}"><i class="fa fa-minus"></i> {{_('Retirer')}}</span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function() {
        {% comment %} $('#idhere').removeClass('o-bg-primary'); {% endcomment %}
    } );
</script>

<script>
    $(document).ready(function() {

        dataTable = $('#table_tarifs_prestataire').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'tarifs_prestataire_datatable' prestataire.id %}",
                "data": function (data) {
                    data.page = data.start / data.length + 1;
                    data.search_code = $('#search_code').val();
                    data.search_libelle = $('#search_libelle').val();
                    data.search_rubrique = $('#search_rubrique').val();
                },
                "dataSrc": function (json) {
                    return json.data;
                }
            },
            "columns": [
                {"data": "code_acte", "orderable": true},
                {"data": "libelle_acte", "orderable": true},
                {"data": "rubrique", "orderable": true},
                {"data": "regroupement", "orderable": true},
                {"data": "lettre_cle_acte", "orderable": true},
                //{"data": "cout_classique", "orderable": true},
                //{"data": "cout_mutuelle", "orderable": true},
                //{"data": "cout_public_hg", "orderable": true},
                //{"data": "cout_public_chu", "orderable": true},
                //{"data": "cout_public_ica", "orderable": true},
                {"data": "coef_prestataire", "orderable": true},
                {"data": "pu_prestataire", "orderable": true},
                {"data": "cout_prestataire", "orderable": true},
                //{"data": "statut", "orderable": true},
                {"data": "actions", "orderable": false, "searchable": false},
            ],
            "paging": true,
            "pageLength": 10,
            "processing": false,
            "searching": true,
            "search": {
                "search": $('#table_tarifs-table_filter input').val()
            }
        });

         dataTable.on('xhr.dt', function (e, settings, json, xhr) {
            // Hide the spinner when the data is loaded
            $('.spinner-border').hide();
         });

        // Show the spinner when the table is processing
        dataTable.on('processing.dt', function (e, settings, processing) {
            if (processing) {
                $('.spinner-border').show();
            }
        });


        // Add custom search functionality for code and name columns
        $('#search_code, #search_libelle, #search_rubrique').on('keyup change', function() {
            dataTable.search('').draw();
            dataTable.draw();
        });

        // change prestataire status
        $('#input-status-prest').on('change', function(e) {
            $('#loading-status-prest').toggleClass('d-none d-block');

                $.ajax({
                    type: 'POST',
                    url: "{% url 'change_prestataire_status' prestataire.id %}",
                    data: {
                        // here getdata should be a string so that
                        // in your views.py you can fetch the value using get('getdata')
                        // 'getdata': var
                    },
                    // dataType: 'json',
                    success: function(response) {
                        if(response.statut == 1){
                            $('#loading-status-prest').toggleClass('d-block d-none');
                        }
                    },
                    error: function(response) {
                        // console.log(response);
                    }
                });
                // console.log(e.currentTarget.checked);
                /* if(e.checked == true && e.currentTarget.classList.value.indexOf("selected") == -1){
                    e.currentTarget.classList.toggle('selected');
                } */
                // $('#loading-status-prest').fadeOut('slow');
        });

    });

</script>

<script>

    $(document).ready(function() {

        dataTable = $('#table_prescripteurs_prestataire').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'prescripteurs_prestataires_datatable' prestataire.pk %}",
                "data": function (data) {
                    data.page = data.start / data.length + 1;
                    //  data.search_nom = $('#search_nom').val();
                    data.search_numero_ordre = $('#search_numero_ordre').val();
                    data.search_specialite = $('#search_specialite').val();
                },
                "dataSrc": function (json) {
                    return json.data;
                }
            },
            "columns": [
                {"data": "nom", "orderable": false},
                {"data": "prenoms", "orderable": false},
                {"data": "numero_ordre", "orderable": false},
                {"data": "telephone", "orderable": false},
                {"data": "specialite", "orderable": false},
                {"data": "actions", "orderable": false, "searchable": false},
            ],
            "paging": true,
            "pageLength": 10,
            "processing": false,
            "searching": false,
            "search": {
                "search": $('#table_prescripteurs_prestataire-table_filter input').val()
            }
        });

         dataTable.on('xhr.dt', function (e, settings, json, xhr) {
            $('.spinner-border').hide();
         });

        dataTable.on('processing.dt', function (e, settings, processing) {
            if (processing) {
                $('.spinner-border').show();
            }
        });

        //  $('#search_nom, #search_numero_ordre, #search_specialite').on('keyup change', function() {
        $('#search_numero_ordre, #search_specialite').on('keyup change', function() {
            dataTable.search('').draw();
            dataTable.draw();
        });

        $('#searchForm').on('submit', function(e) {
            e.preventDefault();
        });

    });


</script>

<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

{% include './modal_add_prescripteur.html' %}
{% include './modal_add_reseau_soin_prestataire.html' %}
{% include './modal_importation_prescripteur.html' %}
{% include './modal_importation_tarif.html' %}

{% endblock %}
