{% extends "admin/base_site.html" %}
{% block extrastyle %} {% endblock %}
{% block content %}

<div class="col-12 col-md-12 order-2 order-md-1">
  <div class="card">
    <div class="card-header">
        <h3 class="card-title"><b>{{_('LISTE DES ACTES')}}</b></h3>
<!--        <div class="card-tools">-->
<!--            <a class="btn btn-sm btn-default" data-toggle="modal"  data-target="#add_modal_acte"><i class="fas fa-plus mr-2"></i>{{_('Creer un acte')}}</a>-->
<!--        </div>-->
    </div>


<div class="card-body">
        <div class="button-link pull-right mb-2">
          <a class="btn btn-sm btn-primary mb-1" data-toggle="modal"  data-target="#add_modal_acte"><i class="fas fa-plus"></i> {{_('Ajouter un acte')}}</a>
        </div>

      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
              <div class="table-responsive">
              <table class="table table-bordered table-striped dataTable dtr-inline" id="table_formules">
                  <thead>
                    <tr>
                      <th scope="col">Code</th>
                      <th scope="col">Libellé</th>
                      <th scope="col">Type</th>
                      <th scope="col">Lettre clé</th>
                      <th scope="col">Base calcul TM</th>
                      <th scope="col">Delais contrôle</th>
                      <th scope="col">Avec séances</th>
                      <th scope="col">Spécialiste uniquement</th>
                      <th scope="col">Accord automatique</th>
                      <th scope="col">Statut</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for acte in actes %}
                    <tr>
                        <td>{{ acte.code|default_if_none:"" }}</td>
                         <td>{{ acte.libelle|default_if_none:"" }}</td>
                        {% for type_acte in type_actes %}
                        <td>{{ acte.type_acte.libelle|default_if_none:"" }}</td>
                        {% endfor %}
                        <td>{{ acte.lettre_cle|default_if_none:"" }}</td>
                        <td>{{ acte.base_calcul_tm|default_if_none:"" }}</td>
                        <td>{{ acte.delais_controle|default_if_none:"" }}</td>
                        <td>{{ acte.option_seance|default_if_none:"" }}</td>
                        <td>{{ acte.specialiste_uniquement|default_if_none:"" }}</td>
                        <td>{{ acte.accord_automatique|default_if_none:"" }}</td>
                        <td>
                            {% if acte.status %}
                                <span class="badge badge-success">Actif</span>
                            {% else %}
                                <span class="badge badge-danger">Inactif</span>
                            {% endif %}
                        </td>
                         <td>
                             <span class="btn badge btn-sm btn-complement-rouge rounded-pill btn-modal-modifier_banque" title="Modifier" data-href="#" style="color:white;font-weight:normal;"><i class="fa fa-pencil"></i> {{_('Modifier')}}</span>&nbsp;&nbsp;&nbsp;
                             <span class="badge badge-danger btn_supprimer_banque" data-courrier_id="#" style="cursor:pointer;"><i class="fa fa-trash"></i> </span>&nbsp;

                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}


{% block extrajs %}
<script>
     $(document).ready(function() {
        $('#banque').removeClass('o-bg-primary');
        $('#banque').addClass('o-active');
    } );

</script>

{% include './modal_add_acte.html' %}

{% endblock %}
