{% load my_filters %}

<div  class="modal fade"  id="add_modal_acte" data-backdrop="static" data-keyboard="false" aria-hidden="true"  style="display: none">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<form enctype="multipart/form-data" id="form_add_acte" action="{% url 'add_acte' %}" method="post">
			{% csrf_token %}

			<div class="modal-header">
				<h4 class="modal-title">{{_('CREATION_DUN_ACTE')}}</h4>
				<button type="button" class="close"data-dismiss="modal"aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			
            <div class="modal-body">
				
                <div class="alert  alert-dismissible fade show hidden" role="alert">
				  <span class="message">{{_('TRAITEMENT_EN_COURS')}}</span>
				</div>

				<div class="col-md-12 offset-0">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="acte-tab" data-toggle="tab" href="#acte" role="tab" aria-controls="acte" aria-selected="true">{{_('GENERAL')}}</a></li>
                            <li class="nav-item"><a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">{{_('PARAMETRAGE_DE_LA_ACTE')}}</a></li>
                            <li class="nav-item"><a class="nav-link" id="tarif-tab" data-toggle="tab" href="#tarif" role="tab" aria-controls="tarif" aria-selected="false">{{_('TARIF')}}</a></li>
                        </ul>

                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active mt-3" id="acte" role="tabpanel" aria-labelledby="acte-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="rubrique_select" class="col-sm-5 col-form-label">{{_('Rubrique')}} <span class="required">*</span></label>
                                            <div class="col-sm-7">
                                                <select class="form-control" name="rubrique_id" id="rubrique_select" autocomplete="off" required>
                                                    <option value="">{{_('Choisir')}}</option>
                                                        {% for rubrique in rubriques %}
                                                            <option  value="{{ rubrique.id }}">{{ rubrique.libelle }}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="regroupement_acte_select" class="col-sm-5 col-form-label">{{_('Regroupement_acte')}} <span class="required">*</span></label>
                                            <div class="col-sm-7">
                                                <select id="regroupement_acte_select" name="regroupement_acte_id" class="form-control" required>
                                                    <option value="" selected>{{_('Choisir')}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Type_acte')}} <span class="required">*</span></label>
                                            <div class="col-sm-7">
                                                <select class="form-control" name="type_acte" id="type_acte_select" autocomplete="off" required>
                                                    <option value="">{{_('Choisir')}}</option>
                                                </select>
                                                <select class="form-control" name="type_acte" id="hidden_type_acte_select" autocomplete="off" required hidden>
                                                    <option value="">{{_('Choisir')}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Libelle')}} <span class="required">*</span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="libelle" value="" autocomplete="off" required/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Code')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="code" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Lettre_Cle')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="lettre_cle" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vl"></div>
                                    <div class="col-md-5" style="border-left:0px;">
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Base_Calcul_TM')}}<span class="required">*</span></label>
                                            <div class="col-sm-7">
                                                <select class="form-control" name="base_calcul_tm" autocomplete="off" required>
                                                    <option value="">{{_('Choisir')}}</option>
                                                    {% for choice in base_calcul_tm_choices %}
                                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade mt-3" id="tarif" role="tabpanel" aria-labelledby="tarif-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Coef_classique ')}}</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="coef_classique" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('PU_classique')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="pu_classique" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Cout_classique')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="cout_classique" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Coef_mutuelle')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="coef_mutuelle" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('PU_mutuelle')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="pu_mutuelle" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Cout_mutuelle')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="cout_mutuelle" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Coef_HG')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="coef_hg" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('PU_HG')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="pu_hg" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Cout_HG')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="cout_hg" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vl"></div>
                                    <div class="col-md-5" style="border-left:0px;">
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Coef CHU')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="coef_chu" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('PU_CHU')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="pu_chu" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Cout_CHU')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="cout_chu" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Coef_ICA')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="coef_ica" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('PU_ICA')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="pu_ica" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_('Cout_ICA')}} </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="cout_ica" autocomplete="off" value=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade mt-3" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row table-responsive">
                                            <table class="table table-bordered table-striped dataTable0 dtr-inline" id="#">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="width:250px;"><label class="col-sm-5 col-form-label">{{_('Bureau')}} <span class="required">*</span></label></th>
                                                    <th scope="col">{{_('Delai_controle')}}</th>
                                                    <th scope="col">{{_('Specialiste_uniquement')}}</th>
                                                    <th scope="col">{{_('Est_gratuit')}}</th>
                                                    <th scope="col">{{_('Statut')}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <td>
                                                    <select class="form-control" name="bureau_id" id="bureau_id" autocomplete="off" required>
                                                        <option value="">{{_('Choisir')}}</option>
                                                        <option value="{{ request.user.bureau.id }}" selected>{{ request.user.bureau }}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control money_field" name="delais_controle" autocomplete="off" value=""/>
                                                </td>
                                                    <td><input type="checkbox" name="specialiste_uniquement" class="checkbox_specialiste_uniquement" {% if specialiste_uniquement %}checked{% endif %}/></td>
                                                    <td><input type="checkbox" name="est_gratuit" class="checkbox_est_gratuit" {% if est_gratuit %}checked{% endif %}/></td>
                                                    <td><input type="checkbox" name="status" class="checkbox_statut" {% if status %}checked{% endif %}/></td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Retour')}}</button>
                        <button type="button" id="btn_save_acte" class="btn o-bg-primary">{{_('Valider')}}</button>
                    </div>
			    
                </div>
			</form>
		</div>
	</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        const rubriqueSelect = document.getElementById('rubrique_select');
        const regroupementActeSelect = document.getElementById('regroupement_acte_select');
        const typeActeSelect = document.getElementById('type_acte_select');
        const hiddenTypeActeSelect = document.getElementById('hidden_type_acte_select');
        const form = document.getElementById('form_add_acte');

        typeActeSelect.disabled = true;

        if (rubriqueSelect && regroupementActeSelect && typeActeSelect && hiddenTypeActeSelect) {
            rubriqueSelect.addEventListener('change', function () {

                const selectedRubriqueId = rubriqueSelect.value;
                const regroupements_actes = {{ regroupements_actes|safe }}[selectedRubriqueId];
                const type_actes = {{ type_actes|safe }};

                regroupementActeSelect.innerHTML = '<option value="" selected>Choisir</option>';

                if (regroupements_actes && regroupements_actes.length > 0) {
                    regroupements_actes.forEach(function (ra) {
                        regroupementActeSelect.innerHTML += '<option value="' + ra.name + '">' + ra.value + '</option>';
                    });
                }

                typeActeSelect.innerHTML = '<option value="" selected>Choisir</option>';
                hiddenTypeActeSelect.innerHTML = '<option value="" selected>Choisir</option>';
                const selectedRubrique = rubriqueSelect.options[rubriqueSelect.selectedIndex].text;

                if (selectedRubrique !== 'Choisir' && selectedRubrique === 'PHARMACIE') {
                    let medicamentTypeActe = type_actes.find(function (typeActe) {
                        return typeActe.libelle === 'MEDICAMENT';
                    });

                    if (medicamentTypeActe) {
                        typeActeSelect.innerHTML += '<option value="' + medicamentTypeActe.id + '" selected>' + medicamentTypeActe.libelle + '</option>';
                        hiddenTypeActeSelect.innerHTML += '<option value="' + medicamentTypeActe.id + '" selected>' + medicamentTypeActe.libelle + '</option>';
                    }
                }
                else if (selectedRubrique !== 'Choisir' && selectedRubrique !== 'PHARMACIE') {
                    let acteTypeActe = type_actes.find(function (typeActe) {
                        return typeActe.libelle === 'ACTE';
                    });

                    if (acteTypeActe) {
                        typeActeSelect.innerHTML += '<option value="' + acteTypeActe.id + '" selected>' + acteTypeActe.libelle + '</option>';
                        hiddenTypeActeSelect.innerHTML += '<option value="' + acteTypeActe.id + '" selected>' + acteTypeActe.libelle + '</option>';
                    }
                }

            });
        }

    });
</script>