{% extends "admin/base_site.html" %}
{% block extrastyle %} {% endblock %}
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">
  <div class="card">
    <div class="card-header">
        <h3 class="card-title"><b>{{_('GESTION DES PERMISSIONS')}}</b></h3>
        <div class="card-tools">
        </div>
    </div>

  <div style="background:#CCCCCC;padding:10px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;">
    <form method="get"><label style="font-weight:normal;font-size:12px;display:none;"><i>{{_('Formulaire_de_recherche')}}</i></label>
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12 row">
                <div class="col-md-3 row">
                    <span class="col-sm-6 text-right" style="margin-top:5px;">{{_('Groupe')}} : </span>
                    <div class="col-sm-6">
                        <select class="form-control tags-multiple" id="search_type" name="search_type" style="border:1px solid rgba(0, 0, 0, 0.3);">
                            <option  value="">{{_('Choisir')}}</option>
                            {% for groupe in groupes %}
                                <option  value="{{groupe.id}}">{{groupe}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3 row">
                    <div class="col-sm-7 text-right">
                        <button type="submit" class="btn btn-complement-rouge">{{_('Afficher')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
  </div>

    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
              <div class="spinner-border__" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;"></div>

              <table class="table table-bordered table-striped dataTable customDataTable dtr-inline" id="table_groupe_permissions">
                  <thead>
                    <tr>
                      <th scope="col">{{_('Type')}}</th>
                      <th scope="col">{{_('Libelle')}}</th>
                      <th scope="col">{{_('Code')}}</th>
                      <th>{{_('Choix')}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for permission in permissions %}
                    <tr>
                      <td scope="col">{{ permission.content_type }}</td>
                      <td scope="col">{{ permission.name }}</td>
                      <td scope="col">{{ permission.codename }}</td>
                      <td><input type="checkbox" name="choix"></td>
                    </tr>
                  {% endfor %}
                  </tbody>
              </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block extrajs %}
<script>
    $(document).ready(function() {

        $('#table_groupe_permissions').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "paging": true,
            "pageLength": 1000,
        });


    });

</script>

{% endblock %}
