<div  class="modal fade"  id="modal_joindre_prestataires" data-backdrop="static" data-keyboard="false" aria-hidden="true"  style="display: none">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{_('JOINDRE_DES_PRESTATAIRES_AU_RESEAU_DE_SOINS')}}</h4>
                <button type="button" class="close"data-dismiss="modal"aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>{{_('LISTE_DES_PRESTATAIRES_NON_ENCORE_MEMBRE_DU_RESEAU_DE_SOINS')}}</b></h3>
                        <div class="card-tools">
                          <span class="btn btn-sm btn-default" id="btnIntegrerPrestatairesSelectionnes" data-href="{% url 'joindre_prestataires_reseau' reseau_soin.pk %}"><i class="fas fa-plus"></i> {{_('Integrer_tous_les_prestataires_selectionnes')}}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div style="background:#CCCCCC;padding:10px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;">
                        <form method="get"><label style="font-weight:normal;font-size:12px;display:none;"><i>{{_('Formulaire_de_recherche')}}</i></label>
                            <div class="row">
                                <div class="col-12 col-md-12 col-sm-12 row">
                                    <div class="col-12 col-md-12 col-sm-12 row">
                                        <!--div class="col-md-3 row">
                                            <span class="col-sm-12 text-left" style="margin-top:5px;font-weight:bold;">Formulaire de recherche</span>
                                        </div-->
                                        <div class="col-md-3 row">
                                            <span class="col-sm-7 text-right" style="margin-top:5px;">{{_('Code_prestataire')}} : </span>
                                            <div class="col-sm-5">
                                                <input id="search_prestataire_restant_code" class="form-control" type="text" name="code" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                                            </div>
                                        </div>
                                        <div class="col-md-4 row">
                                            <span class="col-sm-3 text-right" style="margin-top:5px;">{{_('Nom')}} : </span>
                                            <div class="col-sm-9">
                                                <input id="search_prestataire_restant_nom" class="form-control" type="text" name="nom" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                                            </div>
                                        </div>
                                        <div class="col-md-4 row">
                                            <span class="col-sm-6 text-right" style="margin-top:5px;">{{_('Type_prestataire ')}}: </span>
                                            <div class="col-sm-6">
                                                <select class="form-control tags-multiple" id="search_prestataire_restant_type" name="search_type" style="border:1px solid rgba(0, 0, 0, 0.3);">
                                                    <option  value="">{{_('Choisir')}}</option>
                                                    {% for types_prestataire in types_prestataires %}
                                                        <option  value="{{types_prestataire.id}}">{{types_prestataire}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                      </div>

                        <div class="card-body" style="padding:0px">
                          <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                              <div class="col-12 col-md-12 col-sm-12">
                                  <div class="spinner-border__" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;"></div>

                                  <table class="table table-bordered table-striped dataTable customDataTable dtr-inline" id="table_prestataires_restants">
                                      <thead>
                                        <tr>
                                          <th scope="col"><input type="checkbox" id="btnSelectAll"/></th>
                                          <th scope="col">{{_('Code')}}</th>
                                          <th scope="col">{{_('Nom')}}</th>
                                          <th scope="col">{{_('Type_prestataire')}}</th>
                                          <th scope="col">{{_('Secteur')}}</th>
                                          <th scope="col">{{_('Ville')}}</th>
                                          <th>{{_('Actions')}}</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      </tbody>
                                  </table>

                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Fermer')}}</button>
                            <!--button type="button" id="btn_save_reseau_soin" class="btn o-bg-primary">Valider</button-->
                        </div>
			        </div>
                </div>
            </div>
		</div>
	</div>
</div>

<script>
    $(document).ready(function() {

        dataTable = $('#table_prestataires_restants').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'reseau_soin_prestataires_restants_datatable' reseau_soin.pk %}",
                "data": function (data) {
                    data.page = data.start / data.length + 1;
                    data.search_code = $('#search_prestataire_restant_code').val();
                    data.search_nom = $('#search_prestataire_restant_nom').val();
                    data.search_type = $('#search_prestataire_restant_type').val();
                },
                "dataSrc": function (json) {
                    return json.data;
                }
            },
            "columns": [
                {"data": "checkbox", "orderable": false},
                {"data": "code", "orderable": true},
                {"data": "name", "orderable": true},
                {"data": "type_prestataire", "orderable": true},
                {"data": "secteur", "orderable": true},
                {"data": "ville", "orderable": true},
                {"data": "actions", "orderable": false, "searchable": false},
            ],
            "paging": true,
            "pageLength": 10,
            "lengthMenu": [
                    [10, 25, 50, 100, 500, 1000],
                    [10, 25, 50, 100, 500, 1000],
                ],
            "processing": false,  // Show the loading indicator
            "searching": false,   // Enable the search feature
            "search": {
                "search": $('#table_prestataires_restants-table_filter input').val()
            }
        });

         dataTable.on('xhr.dt', function (e, settings, json, xhr) {
            // Hide the spinner when the data is loaded
            $('.spinner-border').hide();
         });

        // Show the spinner when the table is processing
        dataTable.on('processing.dt', function (e, settings, processing) {
            if (processing) {
                $('.spinner-border').show();
            }
        });


        // Add custom search functionality for code and name columns
        $('#search_prestataire_restant_code, #search_prestataire_restant_nom, #search_prestataire_restant_type').on('keyup change', function() {
            dataTable.search('').draw();
            dataTable.draw();
        });



        //

       // Gérer le "Sélectionner tout"
        $('#btnSelectAll').on('change', function() {
           // Mettre à jour le tableau des éléments sélectionnés
           if (this.checked) {

                $('input[type="checkbox"]', dataTable.rows().nodes()).prop('checked', true);

           } else {

               // Cocher/décocher toutes les cases individuelles
               $('input[type="checkbox"]', dataTable.rows().nodes()).prop('checked', false);
           }

       });

        // Décocher le checkbox btnSelectAll si un des éléments est désélectionné
        $('#table_prestataires_restants tbody').on('change', 'input[type="checkbox"]', function () {
            var data = dataTable.row($(this).closest('tr')).data();
            var itemId = data.id;
            console.log('itemId', itemId);

            if (!this.checked) {
                $('#btnSelectAll').prop('checked', false);
            }

        });

        // Integrer tout
        $('#btnIntegrerPrestatairesSelectionnes').on('click', function () {
            let ceBouton = $(this);
            let href = $(this).data('href');

            var selected_prestataire_ids = [];
            var checkedCheckboxes = $('input[type="checkbox"]:checked', dataTable.rows().nodes());

            console.log("Nombre de lignes cochées : ", checkedCheckboxes.length);

            checkedCheckboxes.each(function() {
                selected_prestataire_id = $(this).val();
                selected_prestataire_ids.push(selected_prestataire_id);

                console.log("selected_prestataire_id : ", selected_prestataire_id);
            });


            if(checkedCheckboxes.length > 0){

                 $.ajax({
                    type:'post',
                    url:href,
                    data: {"selectedItems": JSON.stringify(selected_prestataire_ids)},
                    beforeSend:function(){
                         ceBouton.prop('disabled', true);
                         $('#loader').show();
                    },
                    success: function(response){

                        console.log(response);
                        ceBouton.prop('disabled', false);

                        if (response.statut == 1){
                            notifySuccess(response.message);
                        }else{
                            notifyWarning(response.message);
                        }

                    },
                    error: function(){
                        notifyWarning("Erreur lors du traitement");
                        ceBouton.prop('disabled', false);
                        $('#loader').hide();
                    }

                });

            }else{
                notifyWarning("Veuillez sélectionner des prestataires");
            }

        });


var my_noty;//variale global pour pouvoir le fermer de popup de l'extérieur
function notifySuccess(message, fnCallback){
    my_noty = noty({
            text        : message,
            type        : 'success',
            dismissQueue: true,
            layout      : 'center',
            theme       : 'defaultTheme',
            buttons     : [
                {addClass: 'btn btn-primary', text: 'OK', onClick: function ($noty) {

                    if (typeof fnCallback === 'function') fnCallback();

                    $noty.close();
                }
                }
            ]
        });
}

function notifyWarning(message, fnCallback){
      if (my_noty) {
        my_noty.close();
      }

    my_noty = noty({
            text        : message,
            type        : 'warning',
            dismissQueue: true,
            layout      : 'center',
            theme       : 'defaultTheme',
            buttons     : [
                {addClass: 'btn btn-primary', text: 'OK', onClick: function ($noty) {

                    if (typeof fnCallback === 'function') fnCallback();

                    $noty.close();
                }
                }
            ]
        });

}

function notifyError(message, fnCallback){
    my_noty = noty({
            text        : message,
            type        : 'error',
            dismissQueue: true,
            layout      : 'center',
            theme       : 'defaultTheme',
            buttons     : [
                {addClass: 'btn btn-primary', text: 'OK', onClick: function ($noty) {

                    if (typeof fnCallback === 'function') fnCallback();

                    $noty.close();
                }
                }
            ]
        });
}

});

</script>
