{% extends 'admin/base.html' %}
{% load my_filters %}
{% block extrastyle %}
  <style type="text/css">
    .vl {
       border-left: 2px solid var(--colorPrimary);
       height: auto;
    }
    .o-primary {
      color: var(--colorPrimary);
    }

    .o-bg-primary {
      background-color: var(--colorPrimary);
      color: #fff;
    }

    .info-box{
        cursor:pointer;
    }

    .info-box .collapsed{
        background: white;
        color:var(--colorPrimary);
    }

    .info-box-icon{
        background: var(--colorPrimary);
        color:white;
    }

    .info-box .collapsed .info-box-icon{
        background: var(--colorPrimary);
        color:white;
    }

    .info-box .collapsed .info-box-icon i{
        color:white;
    }

    .info-box:not(.collapsed) .info-box-icon{
        background: var(--colorAccent);
    }


    .info-box.active .info-box-icon{
        background: var(--colorAccent);
    }

    .tab-pane{
        overflow-x: hidden;
    }


  </style>
{% endblock %}
{% block content %}
<div class="col-md-12" class="accordion" id="accordionClient">
  <div class="card offset">
    <div class="card-header nobg">
      <h3 class="card-title text-white">
          <span class="back_icon">
            {% if request.META.HTTP_REFERER %}
            <a href="{{ request.META.HTTP_REFERER }}" class="badge btn-sm btn-default btn-retour" style="color:black;font-weight:normal;" title="Retour à la liste des prises en charges"><i class="fas fa-arrow-left"></i> {{_('Retour')}}</a>
            {% endif %}
          </span>
          <span class="the_title" style="margin-left:10px;font-weight:bold;">
            {{_('FICHE_RESEAU_DE_SOINS')}}
          </span>
      </h3>
      <div class="card-tools">
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="collapse"
          title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        
      </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-12 order-2 order-md-1">
            <div class="callout">
                <h5>{{_('RESEAU_DE_SOINS')}}</h5>
                <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <strong>{{_('Nom')}}</strong><br />
                    <span class="">{{reseau_soin.nom|default_if_none:""}}</span>
                </div>

                <div class="col-sm-4 invoice-col">
                    <b>{{_('Code')}}</b><br />
                    <span class="">{{reseau_soin.code|default_if_none:""}}</span>
                </div>

                <div class="col-sm-3 invoice-col">
                    <strong>{{_('Nombre_prestataires')}}</strong><br />
                    <span class="">{{reseau_soin.nombre_prestataires|money_field|default_if_none:"0"}}</span>
                </div>

                <div class="col-sm-1 invoice-col">
                    <b>{{_('Statut')}}</b><br />
                    <span class="">{% if reseau_soin.status %}<!--i class="fas fa-check-circle text-success" title="ACTIF"></i--><span class="badge badge-success">{{_('ACTIF')}}</span>{% else %}<!--i class="fas fa-times-circle text-danger" title="INACTIF"></i--><span class="badge badge-danger">{{_('INACTIF')}}</span>{% endif %}</span>
                </div>

                </div>
            </div>


            <!-- INFORMATIONS PRESTATAIRES  -->
            <div class="row collapse show" id="collapseListPrescripteurs">
                <div class="col-12 col-sm-6 col-md-12">
                    <h4></h4>
                    <div class="card shadow_OLD">
                        <div class="card-header" style="background-color: var(--couleur_olea)">
                            <h3 class="card-title text-white">{{_('LISTE_DES_PRESTATAIRES_DU_RESEAU_DESOINS')}}</h3>
                            <div class="card-tools">
                                <span id="btn_modal_joindre_prestataires" class="btn btn-sm btn-default" data-href="{% url 'popup_joindre_prestataires' reseau_soin.id %}" style="cursor:pointer;"><i class="fas fa-plus"></i> {{_('Joindre_des_prestataires')}}</span>
                            </div>
                        </div>

                          <div style="display:none__;background:#CCCCCC;padding:10px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;">
                            <form method="get"><label style="font-weight:normal;font-size:12px;display:none;"><i>{{_('Formulaire_de_recherche')}}</i></label>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-sm-12 row">
                                        <!--div class="col-md-3 row">
                                            <span class="col-sm-12 text-left" style="margin-top:5px;font-weight:bold;">Formulaire de recherche</span>
                                        </div-->
                                        <div class="col-md-3 row">
                                            <span class="col-sm-7 text-right" style="margin-top:5px;">{{_('Code_prestataire')}} : </span>
                                            <div class="col-sm-5">
                                                <input id="search_code" class="form-control" type="text" name="code" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                                            </div>
                                        </div>
                                        <div class="col-md-4 row">
                                            <span class="col-sm-3 text-right" style="margin-top:5px;">{{_('Nom')}} : </span>
                                            <div class="col-sm-9">
                                                <input id="search_nom" class="form-control" type="text" name="nom" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                                            </div>
                                        </div>
                                        <div class="col-md-4 row">
                                            <span class="col-sm-6 text-right" style="margin-top:5px;">{{_('Type_prestataire')}} : </span>
                                            <div class="col-sm-6">
                                                <select class="form-control tags-multiple" id="search_type" name="search_type" style="border:1px solid rgba(0, 0, 0, 0.3);">
                                                    <option  value="">{{_('Choisir')}}</option>
                                                    {% for types_prestataire in types_prestataires %}
                                                        <option  value="{{types_prestataire.id}}">{{types_prestataire}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <!--div class="col-md-3 row">
                                            <div class="col-sm-7 text-right">
                                                <button type="submit" class="btn btn-complement-rouge">Rechercher</button>
                                            </div>
                                            <div class="col-sm-5 text-right" style="padding-left:0px;">
                                                <a href="/configurations/prestataire" class="btn btn-secondary" title="Vider le formulaire de recherche">Rafraichir</a>
                                            </div>
                                        </div-->
                                    </div>
                                </div>
                            </form>
                          </div>

                        <div class="card-body">
                            <table class="table table-bordered table-striped dataTable customDataTable dtr-inline" id="table_prestataires_reseau_soin">
                                <thead>
                                    <tr>
                                        <th scope="col">{{_('Code')}}</th>
                                        <th scope="col">{{_('Nom')}}</th>
                                        <th scope="col">{{_('Type prestataire')}}</th>
                                        <th scope="col">{{_('Secteur')}}</th>
                                        <th scope="col">{{_('Ville')}}</th>
                                        <th scope="col">{{_('Telephone')}}</th>
                                        <th scope="col">{{_('Statut')}}</th>
                                        <th>{{_('Actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function() {
        {% comment %} $('#idhere').removeClass('o-bg-primary'); {% endcomment %}
    } );
</script>

<script>

    $(document).ready(function() {

        dataTable = $('#table_prestataires_reseau_soin').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'reseau_soin_prestataires_datatable' reseau_soin.pk %}",
                "data": function (data) {
                    data.page = data.start / data.length + 1;
                    data.search_code = $('#search_code').val();
                    data.search_nom = $('#search_nom').val();
                    data.search_type = $('#search_type').val();
                },
                "dataSrc": function (json) {
                    return json.data;
                }
            },
            "columns": [
                {"data": "code", "orderable": true},
                {"data": "name", "orderable": true},
                {"data": "type_prestataire", "orderable": true},
                {"data": "secteur", "orderable": true},
                {"data": "ville", "orderable": true},
                {"data": "telephone", "orderable": true},
                {"data": "statut", "orderable": true},
                {"data": "actions", "orderable": false, "searchable": false},
            ],
            "paging": true,
            "pageLength": 10,
            "processing": false,  // Show the loading indicator
            "searching": false,   // Enable the search feature
            "search": {
                "search": $('#table_prestataires-table_filter input').val()
            }
        });


         dataTable.on('xhr.dt', function (e, settings, json, xhr) {
            // Hide the spinner when the data is loaded
            $('.spinner-border').hide();
         });

        // Show the spinner when the table is processing
        dataTable.on('processing.dt', function (e, settings, processing) {
            if (processing) {
                $('.spinner-border').show();
            }
        });


        // Add custom search functionality for code and name columns
        $('#search_code, #search_nom, #search_type').on('keyup change', function() {
            dataTable.search('').draw();
            dataTable.draw();
        });

    });

</script>

{% endblock %}
